body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:939px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u3801_div {
  position:absolute;
  left:0px;
  top:0px;
  width:906px;
  height:721px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u3801 {
  position:absolute;
  left:33px;
  top:94px;
  width:906px;
  height:721px;
}
#u3802 {
  position:absolute;
  left:2px;
  top:352px;
  width:902px;
  visibility:hidden;
  word-wrap:break-word;
}
#u3803_img {
  position:absolute;
  left:0px;
  top:0px;
  width:765px;
  height:13px;
}
#u3803 {
  position:absolute;
  left:33px;
  top:81px;
  width:765px;
  height:13px;
}
#u3804 {
  position:absolute;
  left:2px;
  top:-2px;
  width:761px;
  visibility:hidden;
  word-wrap:break-word;
}
#u3805_div {
  position:absolute;
  left:0px;
  top:0px;
  width:64px;
  height:40px;
  background:inherit;
  background-color:rgba(22, 155, 213, 1);
  border:none;
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u3805 {
  position:absolute;
  left:867px;
  top:29px;
  width:64px;
  height:40px;
}
#u3806 {
  position:absolute;
  left:2px;
  top:12px;
  width:60px;
  word-wrap:break-word;
}
#u3807_img {
  position:absolute;
  left:0px;
  top:0px;
  width:300px;
  height:76px;
}
#u3807 {
  position:absolute;
  left:32px;
  top:6px;
  width:300px;
  height:76px;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:18px;
  color:#FFFFFF;
}
#u3808 {
  position:absolute;
  left:2px;
  top:27px;
  width:296px;
  word-wrap:break-word;
}
#u3809_div {
  position:absolute;
  left:0px;
  top:0px;
  width:64px;
  height:40px;
  background:inherit;
  background-color:rgba(22, 155, 213, 1);
  border:none;
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u3809 {
  position:absolute;
  left:796px;
  top:30px;
  width:64px;
  height:40px;
}
#u3810 {
  position:absolute;
  left:2px;
  top:12px;
  width:60px;
  word-wrap:break-word;
}
#u3811_div {
  position:absolute;
  left:0px;
  top:0px;
  width:105px;
  height:40px;
  background:inherit;
  background-color:rgba(22, 155, 213, 1);
  border:none;
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u3811 {
  position:absolute;
  left:645px;
  top:699px;
  width:105px;
  height:40px;
}
#u3812 {
  position:absolute;
  left:2px;
  top:12px;
  width:101px;
  word-wrap:break-word;
}
#u3813_div {
  position:absolute;
  left:0px;
  top:0px;
  width:103px;
  height:40px;
  background:inherit;
  background-color:rgba(22, 155, 213, 1);
  border:none;
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u3813 {
  position:absolute;
  left:786px;
  top:699px;
  width:103px;
  height:40px;
}
#u3814 {
  position:absolute;
  left:2px;
  top:12px;
  width:99px;
  word-wrap:break-word;
}
#u3815_img {
  position:absolute;
  left:0px;
  top:0px;
  width:887px;
  height:2px;
}
#u3815 {
  position:absolute;
  left:45px;
  top:217px;
  width:886px;
  height:1px;
}
#u3816 {
  position:absolute;
  left:2px;
  top:-8px;
  width:882px;
  visibility:hidden;
  word-wrap:break-word;
}
#u3817_div {
  position:absolute;
  left:0px;
  top:0px;
  width:743px;
  height:87px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#FF0000;
}
#u3817 {
  position:absolute;
  left:140px;
  top:234px;
  width:743px;
  height:87px;
  color:#FF0000;
}
#u3818 {
  position:absolute;
  left:0px;
  top:0px;
  width:743px;
  word-wrap:break-word;
}
#u3819 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u3820_img {
  position:absolute;
  left:0px;
  top:0px;
  width:257px;
  height:154px;
}
#u3820 {
  position:absolute;
  left:425px;
  top:438px;
  width:247px;
  height:144px;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:16px;
  color:#000000;
}
#u3821 {
  position:absolute;
  left:2px;
  top:64px;
  width:243px;
  visibility:hidden;
  word-wrap:break-word;
}
#u3822_img {
  position:absolute;
  left:0px;
  top:0px;
  width:130px;
  height:34px;
}
#u3822 {
  position:absolute;
  left:516px;
  top:475px;
  width:120px;
  height:24px;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:20px;
  color:#000000;
}
#u3823 {
  position:absolute;
  left:0px;
  top:0px;
  width:120px;
  word-wrap:break-word;
}
#u3824_div {
  position:absolute;
  left:0px;
  top:0px;
  width:111px;
  height:31px;
  background:inherit;
  background-color:rgba(22, 155, 213, 1);
  border:none;
  border-radius:5px;
  -moz-box-shadow:5px 5px 5px rgba(0, 0, 0, 0.349019607843137);
  -webkit-box-shadow:5px 5px 5px rgba(0, 0, 0, 0.349019607843137);
  box-shadow:5px 5px 5px rgba(0, 0, 0, 0.349019607843137);
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
}
#u3824 {
  position:absolute;
  left:496px;
  top:524px;
  width:111px;
  height:31px;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
}
#u3825 {
  position:absolute;
  left:2px;
  top:8px;
  width:107px;
  word-wrap:break-word;
}
#u3826_img {
  position:absolute;
  left:0px;
  top:0px;
  width:32px;
  height:32px;
}
#u3826 {
  position:absolute;
  left:483px;
  top:475px;
  width:22px;
  height:22px;
}
#u3827 {
  position:absolute;
  left:2px;
  top:3px;
  width:18px;
  visibility:hidden;
  word-wrap:break-word;
}
#u3828 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u3829 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u3830_img {
  position:absolute;
  left:0px;
  top:0px;
  width:49px;
  height:49px;
}
#u3830 {
  position:absolute;
  left:120px;
  top:125px;
  width:39px;
  height:39px;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
  color:#FFFFFF;
}
#u3831 {
  position:absolute;
  left:2px;
  top:12px;
  width:35px;
  word-wrap:break-word;
}
#u3832_img {
  position:absolute;
  left:0px;
  top:0px;
  width:49px;
  height:49px;
}
#u3832 {
  position:absolute;
  left:455px;
  top:126px;
  width:39px;
  height:39px;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
  color:#FFFFFF;
}
#u3833 {
  position:absolute;
  left:2px;
  top:12px;
  width:35px;
  word-wrap:break-word;
}
#u3834_img {
  position:absolute;
  left:0px;
  top:0px;
  width:49px;
  height:49px;
}
#u3834 {
  position:absolute;
  left:826px;
  top:128px;
  width:39px;
  height:39px;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
  color:#FFFFFF;
}
#u3835 {
  position:absolute;
  left:2px;
  top:12px;
  width:35px;
  word-wrap:break-word;
}
#u3836_img {
  position:absolute;
  left:0px;
  top:0px;
  width:131px;
  height:5px;
}
#u3836 {
  position:absolute;
  left:323px;
  top:142px;
  width:131px;
  height:5px;
}
#u3837 {
  position:absolute;
  left:2px;
  top:-6px;
  width:127px;
  visibility:hidden;
  word-wrap:break-word;
}
#u3838_img {
  position:absolute;
  left:0px;
  top:0px;
  width:49px;
  height:49px;
}
#u3838 {
  position:absolute;
  left:659px;
  top:126px;
  width:39px;
  height:39px;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
  color:#FFFFFF;
}
#u3839 {
  position:absolute;
  left:2px;
  top:12px;
  width:35px;
  word-wrap:break-word;
}
#u3840_img {
  position:absolute;
  left:0px;
  top:0px;
  width:131px;
  height:5px;
}
#u3840 {
  position:absolute;
  left:698px;
  top:142px;
  width:131px;
  height:5px;
}
#u3841 {
  position:absolute;
  left:2px;
  top:-6px;
  width:127px;
  visibility:hidden;
  word-wrap:break-word;
}
#u3842_img {
  position:absolute;
  left:0px;
  top:0px;
  width:131px;
  height:5px;
}
#u3842 {
  position:absolute;
  left:159px;
  top:142px;
  width:131px;
  height:5px;
}
#u3843 {
  position:absolute;
  left:2px;
  top:-6px;
  width:127px;
  visibility:hidden;
  word-wrap:break-word;
}
#u3844_img {
  position:absolute;
  left:0px;
  top:0px;
  width:49px;
  height:49px;
}
#u3844 {
  position:absolute;
  left:284px;
  top:125px;
  width:39px;
  height:39px;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
  color:#FFFFFF;
}
#u3845 {
  position:absolute;
  left:2px;
  top:12px;
  width:35px;
  word-wrap:break-word;
}
#u3846_img {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:5px;
}
#u3846 {
  position:absolute;
  left:559px;
  top:142px;
  width:100px;
  height:5px;
}
#u3847 {
  position:absolute;
  left:2px;
  top:-6px;
  width:96px;
  visibility:hidden;
  word-wrap:break-word;
}
#u3848_img {
  position:absolute;
  left:0px;
  top:0px;
  width:76px;
  height:5px;
}
#u3848 {
  position:absolute;
  left:495px;
  top:142px;
  width:76px;
  height:5px;
}
#u3849 {
  position:absolute;
  left:2px;
  top:-6px;
  width:72px;
  visibility:hidden;
  word-wrap:break-word;
}
#u3850_div {
  position:absolute;
  left:0px;
  top:0px;
  width:81px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u3850 {
  position:absolute;
  left:110px;
  top:179px;
  width:81px;
  height:16px;
}
#u3851 {
  position:absolute;
  left:0px;
  top:0px;
  width:81px;
  word-wrap:break-word;
}
#u3852_div {
  position:absolute;
  left:0px;
  top:0px;
  width:81px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#000000;
}
#u3852 {
  position:absolute;
  left:449px;
  top:179px;
  width:81px;
  height:16px;
  color:#000000;
}
#u3853 {
  position:absolute;
  left:0px;
  top:0px;
  width:81px;
  word-wrap:break-word;
}
#u3854_div {
  position:absolute;
  left:0px;
  top:0px;
  width:81px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
  color:#000000;
}
#u3854 {
  position:absolute;
  left:813px;
  top:177px;
  width:81px;
  height:16px;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
  color:#000000;
}
#u3855 {
  position:absolute;
  left:0px;
  top:0px;
  width:81px;
  word-wrap:break-word;
}
#u3856_div {
  position:absolute;
  left:0px;
  top:0px;
  width:81px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#000000;
}
#u3856 {
  position:absolute;
  left:647px;
  top:179px;
  width:81px;
  height:16px;
  color:#000000;
}
#u3857 {
  position:absolute;
  left:0px;
  top:0px;
  width:81px;
  word-wrap:break-word;
}
#u3858_div {
  position:absolute;
  left:0px;
  top:0px;
  width:81px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#000000;
}
#u3858 {
  position:absolute;
  left:273px;
  top:176px;
  width:81px;
  height:16px;
  color:#000000;
}
#u3859 {
  position:absolute;
  left:0px;
  top:0px;
  width:81px;
  word-wrap:break-word;
}
#u3860_div {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u3860 {
  position:absolute;
  left:184px;
  top:338px;
  width:57px;
  height:16px;
}
#u3861 {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  white-space:nowrap;
}
#u3862_div {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u3862 {
  position:absolute;
  left:171px;
  top:472px;
  width:57px;
  height:16px;
}
#u3863 {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  white-space:nowrap;
}
#u3864_div {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u3864 {
  position:absolute;
  left:163px;
  top:599px;
  width:57px;
  height:16px;
}
#u3865 {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  white-space:nowrap;
}
#u3866_img {
  position:absolute;
  left:0px;
  top:0px;
  width:74px;
  height:76px;
}
#u3866 {
  position:absolute;
  left:273px;
  top:472px;
  width:74px;
  height:76px;
  font-size:48px;
}
#u3867 {
  position:absolute;
  left:2px;
  top:10px;
  width:70px;
  word-wrap:break-word;
}
#u3868_img {
  position:absolute;
  left:0px;
  top:0px;
  width:82px;
  height:69px;
}
#u3868 {
  position:absolute;
  left:275px;
  top:339px;
  width:82px;
  height:69px;
}
#u3869 {
  position:absolute;
  left:2px;
  top:26px;
  width:78px;
  visibility:hidden;
  word-wrap:break-word;
}
#u3870_img {
  position:absolute;
  left:0px;
  top:0px;
  width:74px;
  height:76px;
}
#u3870 {
  position:absolute;
  left:380px;
  top:336px;
  width:74px;
  height:76px;
  font-size:48px;
}
#u3871 {
  position:absolute;
  left:2px;
  top:10px;
  width:70px;
  word-wrap:break-word;
}
#u3872_img {
  position:absolute;
  left:0px;
  top:0px;
  width:74px;
  height:76px;
}
#u3872 {
  position:absolute;
  left:273px;
  top:599px;
  width:74px;
  height:76px;
  font-size:48px;
}
#u3873 {
  position:absolute;
  left:2px;
  top:10px;
  width:70px;
  word-wrap:break-word;
}
#u3874_img {
  position:absolute;
  left:0px;
  top:0px;
  width:26px;
  height:24px;
}
#u3874 {
  position:absolute;
  left:334px;
  top:338px;
  width:26px;
  height:24px;
  color:#FFFFFF;
}
#u3875 {
  position:absolute;
  left:2px;
  top:4px;
  width:22px;
  word-wrap:break-word;
}
