
.wrapper .content-wrapper{
    transition: all 0.5s;
    position: absolute;
    top: 70px;
    left: 113px;
    right: 0;
    background: #fff;
    bottom: 0;
    width: auto;
    overflow: hidden;
    overflow-y: auto;
    height: auto;
    color: #000;
    border-radius: 3px;
}

.wrapper .content-wrapper .tab_pages{
    height: 50px;
    border: 1px solid #e5e5e5;
} 
.wrapper .content-wrapper .tab_pages .jericho_tabs{
    float: left;
}

.wrapper .content-wrapper .tab_content{
    height: 500px;
    border: 1px solid #e5e5e5;
}

.wrapper .content-wrapper .tab_content #jerichotab_contentholder{
    height: 500px;
}


.wrapper .header{
    height:70px;
    position: relative;
    background: rgb(60, 141, 188);
}    
.wrapper .side-bar{
    position: fixed;
    top: 70px;
    bottom: 0;
    width: 113px;
    background: rgb(34, 45, 50);
    color: #fff;
}






