body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:1017px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u1963_div {
  position:absolute;
  left:0px;
  top:0px;
  width:845px;
  height:733px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u1963 {
  position:absolute;
  left:172px;
  top:38px;
  width:845px;
  height:733px;
}
#u1964 {
  position:absolute;
  left:2px;
  top:358px;
  width:841px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1965 {
  position:absolute;
  left:170px;
  top:38px;
  width:838px;
  height:733px;
  overflow:hidden;
}
#u1965_state0 {
  position:absolute;
  left:0px;
  top:0px;
  width:838px;
  height:733px;
  -ms-overflow-x:hidden;
  overflow-x:hidden;
  -ms-overflow-y:hidden;
  overflow-y:hidden;
  background-image:none;
}
#u1965_state0_content {
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u1966_img {
  position:absolute;
  left:0px;
  top:0px;
  width:487px;
  height:32px;
}
#u1966 {
  position:absolute;
  left:29px;
  top:617px;
  width:487px;
  height:32px;
}
#u1967 {
  position:absolute;
  left:2px;
  top:8px;
  width:483px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1968_img {
  position:absolute;
  left:0px;
  top:0px;
  width:745px;
  height:2px;
}
#u1968 {
  position:absolute;
  left:29px;
  top:160px;
  width:744px;
  height:1px;
}
#u1969 {
  position:absolute;
  left:2px;
  top:-8px;
  width:740px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1970 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u1971_div {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u1971 {
  position:absolute;
  left:269px;
  top:81px;
  width:57px;
  height:16px;
}
#u1972 {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  white-space:nowrap;
}
#u1973_div {
  position:absolute;
  left:0px;
  top:0px;
  width:85px;
  height:25px;
  background:inherit;
  background-color:rgba(22, 155, 213, 1);
  border:none;
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u1973 {
  position:absolute;
  left:269px;
  top:125px;
  width:85px;
  height:25px;
}
#u1974 {
  position:absolute;
  left:2px;
  top:4px;
  width:81px;
  word-wrap:break-word;
}
#u1975 {
  position:absolute;
  left:331px;
  top:78px;
  width:113px;
  height:22px;
}
#u1975_input {
  position:absolute;
  left:0px;
  top:0px;
  width:113px;
  height:22px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
}
#u1975_input:disabled {
  color:grayText;
}
#u1976_div {
  position:absolute;
  left:0px;
  top:0px;
  width:43px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u1976 {
  position:absolute;
  left:33px;
  top:82px;
  width:43px;
  height:16px;
}
#u1977 {
  position:absolute;
  left:0px;
  top:0px;
  width:43px;
  white-space:nowrap;
}
#u1978_div {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u1978 {
  position:absolute;
  left:495px;
  top:81px;
  width:57px;
  height:16px;
}
#u1979 {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  white-space:nowrap;
}
#u1980 {
  position:absolute;
  left:559px;
  top:79px;
  width:137px;
  height:22px;
}
#u1980_input {
  position:absolute;
  left:0px;
  top:0px;
  width:137px;
  height:22px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
}
#u1980_input:disabled {
  color:grayText;
}
#u1981 {
  position:absolute;
  left:92px;
  top:78px;
  width:115px;
  height:25px;
}
#u1981_input {
  position:absolute;
  left:0px;
  top:0px;
  width:115px;
  height:25px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:left;
}
#u1982_div {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u1982 {
  position:absolute;
  left:23px;
  top:129px;
  width:57px;
  height:16px;
}
#u1983 {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  white-space:nowrap;
}
#u1984 {
  position:absolute;
  left:92px;
  top:125px;
  width:115px;
  height:25px;
}
#u1984_input {
  position:absolute;
  left:0px;
  top:0px;
  width:115px;
  height:25px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:left;
}
#u1985_img {
  position:absolute;
  left:0px;
  top:0px;
  width:110px;
  height:37px;
}
#u1985 {
  position:absolute;
  left:116px;
  top:2px;
  width:110px;
  height:37px;
  color:#FFFFFF;
}
#u1986 {
  position:absolute;
  left:2px;
  top:10px;
  width:106px;
  word-wrap:break-word;
}
#u1987_img {
  position:absolute;
  left:0px;
  top:0px;
  width:829px;
  height:9px;
}
#u1987 {
  position:absolute;
  left:6px;
  top:38px;
  width:829px;
  height:9px;
}
#u1988 {
  position:absolute;
  left:2px;
  top:-4px;
  width:825px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1989_img {
  position:absolute;
  left:0px;
  top:0px;
  width:110px;
  height:37px;
}
#u1989 {
  position:absolute;
  left:6px;
  top:2px;
  width:110px;
  height:37px;
  color:#FFFFFF;
}
#u1990 {
  position:absolute;
  left:2px;
  top:10px;
  width:106px;
  word-wrap:break-word;
}
#u1991 {
  position:absolute;
  left:18px;
  top:209px;
  width:811px;
  height:159px;
}
#u1992_img {
  position:absolute;
  left:0px;
  top:0px;
  width:101px;
  height:41px;
}
#u1992 {
  position:absolute;
  left:0px;
  top:0px;
  width:101px;
  height:41px;
}
#u1993 {
  position:absolute;
  left:2px;
  top:12px;
  width:97px;
  word-wrap:break-word;
}
#u1994_img {
  position:absolute;
  left:0px;
  top:0px;
  width:101px;
  height:41px;
}
#u1994 {
  position:absolute;
  left:101px;
  top:0px;
  width:101px;
  height:41px;
}
#u1995 {
  position:absolute;
  left:2px;
  top:12px;
  width:97px;
  word-wrap:break-word;
}
#u1996_img {
  position:absolute;
  left:0px;
  top:0px;
  width:101px;
  height:41px;
}
#u1996 {
  position:absolute;
  left:202px;
  top:0px;
  width:101px;
  height:41px;
}
#u1997 {
  position:absolute;
  left:2px;
  top:12px;
  width:97px;
  word-wrap:break-word;
}
#u1998_img {
  position:absolute;
  left:0px;
  top:0px;
  width:101px;
  height:41px;
}
#u1998 {
  position:absolute;
  left:303px;
  top:0px;
  width:101px;
  height:41px;
}
#u1999 {
  position:absolute;
  left:2px;
  top:12px;
  width:97px;
  word-wrap:break-word;
}
#u2000_img {
  position:absolute;
  left:0px;
  top:0px;
  width:101px;
  height:41px;
}
#u2000 {
  position:absolute;
  left:404px;
  top:0px;
  width:101px;
  height:41px;
}
#u2001 {
  position:absolute;
  left:2px;
  top:12px;
  width:97px;
  word-wrap:break-word;
}
#u2002_img {
  position:absolute;
  left:0px;
  top:0px;
  width:101px;
  height:41px;
}
#u2002 {
  position:absolute;
  left:505px;
  top:0px;
  width:101px;
  height:41px;
}
#u2003 {
  position:absolute;
  left:2px;
  top:12px;
  width:97px;
  word-wrap:break-word;
}
#u2004_img {
  position:absolute;
  left:0px;
  top:0px;
  width:101px;
  height:41px;
}
#u2004 {
  position:absolute;
  left:606px;
  top:0px;
  width:101px;
  height:41px;
}
#u2005 {
  position:absolute;
  left:2px;
  top:12px;
  width:97px;
  word-wrap:break-word;
}
#u2006_img {
  position:absolute;
  left:0px;
  top:0px;
  width:99px;
  height:41px;
}
#u2006 {
  position:absolute;
  left:707px;
  top:0px;
  width:99px;
  height:41px;
}
#u2007 {
  position:absolute;
  left:2px;
  top:12px;
  width:95px;
  word-wrap:break-word;
}
#u2008_img {
  position:absolute;
  left:0px;
  top:0px;
  width:101px;
  height:39px;
}
#u2008 {
  position:absolute;
  left:0px;
  top:41px;
  width:101px;
  height:39px;
  font-size:14px;
}
#u2009 {
  position:absolute;
  left:2px;
  top:12px;
  width:97px;
  word-wrap:break-word;
}
#u2010_img {
  position:absolute;
  left:0px;
  top:0px;
  width:101px;
  height:39px;
}
#u2010 {
  position:absolute;
  left:101px;
  top:41px;
  width:101px;
  height:39px;
  font-size:14px;
}
#u2011 {
  position:absolute;
  left:2px;
  top:12px;
  width:97px;
  word-wrap:break-word;
}
#u2012_img {
  position:absolute;
  left:0px;
  top:0px;
  width:101px;
  height:39px;
}
#u2012 {
  position:absolute;
  left:202px;
  top:41px;
  width:101px;
  height:39px;
}
#u2013 {
  position:absolute;
  left:2px;
  top:12px;
  width:97px;
  word-wrap:break-word;
}
#u2014_img {
  position:absolute;
  left:0px;
  top:0px;
  width:101px;
  height:39px;
}
#u2014 {
  position:absolute;
  left:303px;
  top:41px;
  width:101px;
  height:39px;
}
#u2015 {
  position:absolute;
  left:2px;
  top:12px;
  width:97px;
  word-wrap:break-word;
}
#u2016_img {
  position:absolute;
  left:0px;
  top:0px;
  width:101px;
  height:39px;
}
#u2016 {
  position:absolute;
  left:404px;
  top:41px;
  width:101px;
  height:39px;
}
#u2017 {
  position:absolute;
  left:2px;
  top:12px;
  width:97px;
  word-wrap:break-word;
}
#u2018_img {
  position:absolute;
  left:0px;
  top:0px;
  width:101px;
  height:39px;
}
#u2018 {
  position:absolute;
  left:505px;
  top:41px;
  width:101px;
  height:39px;
}
#u2019 {
  position:absolute;
  left:2px;
  top:12px;
  width:97px;
  word-wrap:break-word;
}
#u2020_img {
  position:absolute;
  left:0px;
  top:0px;
  width:101px;
  height:39px;
}
#u2020 {
  position:absolute;
  left:606px;
  top:41px;
  width:101px;
  height:39px;
}
#u2021 {
  position:absolute;
  left:2px;
  top:12px;
  width:97px;
  word-wrap:break-word;
}
#u2022_img {
  position:absolute;
  left:0px;
  top:0px;
  width:99px;
  height:39px;
}
#u2022 {
  position:absolute;
  left:707px;
  top:41px;
  width:99px;
  height:39px;
}
#u2023 {
  position:absolute;
  left:2px;
  top:12px;
  width:95px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2024_img {
  position:absolute;
  left:0px;
  top:0px;
  width:101px;
  height:37px;
}
#u2024 {
  position:absolute;
  left:0px;
  top:80px;
  width:101px;
  height:37px;
}
#u2025 {
  position:absolute;
  left:2px;
  top:10px;
  width:97px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2026_img {
  position:absolute;
  left:0px;
  top:0px;
  width:101px;
  height:37px;
}
#u2026 {
  position:absolute;
  left:101px;
  top:80px;
  width:101px;
  height:37px;
}
#u2027 {
  position:absolute;
  left:2px;
  top:10px;
  width:97px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2028_img {
  position:absolute;
  left:0px;
  top:0px;
  width:101px;
  height:37px;
}
#u2028 {
  position:absolute;
  left:202px;
  top:80px;
  width:101px;
  height:37px;
}
#u2029 {
  position:absolute;
  left:2px;
  top:10px;
  width:97px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2030_img {
  position:absolute;
  left:0px;
  top:0px;
  width:101px;
  height:37px;
}
#u2030 {
  position:absolute;
  left:303px;
  top:80px;
  width:101px;
  height:37px;
}
#u2031 {
  position:absolute;
  left:2px;
  top:10px;
  width:97px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2032_img {
  position:absolute;
  left:0px;
  top:0px;
  width:101px;
  height:37px;
}
#u2032 {
  position:absolute;
  left:404px;
  top:80px;
  width:101px;
  height:37px;
}
#u2033 {
  position:absolute;
  left:2px;
  top:10px;
  width:97px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2034_img {
  position:absolute;
  left:0px;
  top:0px;
  width:101px;
  height:37px;
}
#u2034 {
  position:absolute;
  left:505px;
  top:80px;
  width:101px;
  height:37px;
}
#u2035 {
  position:absolute;
  left:2px;
  top:10px;
  width:97px;
  word-wrap:break-word;
}
#u2036_img {
  position:absolute;
  left:0px;
  top:0px;
  width:101px;
  height:37px;
}
#u2036 {
  position:absolute;
  left:606px;
  top:80px;
  width:101px;
  height:37px;
}
#u2037 {
  position:absolute;
  left:2px;
  top:10px;
  width:97px;
  word-wrap:break-word;
}
#u2038_img {
  position:absolute;
  left:0px;
  top:0px;
  width:99px;
  height:37px;
}
#u2038 {
  position:absolute;
  left:707px;
  top:80px;
  width:99px;
  height:37px;
}
#u2039 {
  position:absolute;
  left:2px;
  top:10px;
  width:95px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2040_img {
  position:absolute;
  left:0px;
  top:0px;
  width:101px;
  height:37px;
}
#u2040 {
  position:absolute;
  left:0px;
  top:117px;
  width:101px;
  height:37px;
}
#u2041 {
  position:absolute;
  left:2px;
  top:10px;
  width:97px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2042_img {
  position:absolute;
  left:0px;
  top:0px;
  width:101px;
  height:37px;
}
#u2042 {
  position:absolute;
  left:101px;
  top:117px;
  width:101px;
  height:37px;
}
#u2043 {
  position:absolute;
  left:2px;
  top:10px;
  width:97px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2044_img {
  position:absolute;
  left:0px;
  top:0px;
  width:101px;
  height:37px;
}
#u2044 {
  position:absolute;
  left:202px;
  top:117px;
  width:101px;
  height:37px;
}
#u2045 {
  position:absolute;
  left:2px;
  top:10px;
  width:97px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2046_img {
  position:absolute;
  left:0px;
  top:0px;
  width:101px;
  height:37px;
}
#u2046 {
  position:absolute;
  left:303px;
  top:117px;
  width:101px;
  height:37px;
}
#u2047 {
  position:absolute;
  left:2px;
  top:10px;
  width:97px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2048_img {
  position:absolute;
  left:0px;
  top:0px;
  width:101px;
  height:37px;
}
#u2048 {
  position:absolute;
  left:404px;
  top:117px;
  width:101px;
  height:37px;
}
#u2049 {
  position:absolute;
  left:2px;
  top:10px;
  width:97px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2050_img {
  position:absolute;
  left:0px;
  top:0px;
  width:101px;
  height:37px;
}
#u2050 {
  position:absolute;
  left:505px;
  top:117px;
  width:101px;
  height:37px;
}
#u2051 {
  position:absolute;
  left:2px;
  top:10px;
  width:97px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2052_img {
  position:absolute;
  left:0px;
  top:0px;
  width:101px;
  height:37px;
}
#u2052 {
  position:absolute;
  left:606px;
  top:117px;
  width:101px;
  height:37px;
}
#u2053 {
  position:absolute;
  left:2px;
  top:10px;
  width:97px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2054_img {
  position:absolute;
  left:0px;
  top:0px;
  width:99px;
  height:37px;
}
#u2054 {
  position:absolute;
  left:707px;
  top:117px;
  width:99px;
  height:37px;
}
#u2055 {
  position:absolute;
  left:2px;
  top:10px;
  width:95px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2056_div {
  position:absolute;
  left:0px;
  top:0px;
  width:74px;
  height:30px;
  background:inherit;
  background-color:rgba(22, 155, 213, 1);
  border:none;
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u2056 {
  position:absolute;
  left:739px;
  top:254px;
  width:74px;
  height:30px;
}
#u2057 {
  position:absolute;
  left:2px;
  top:7px;
  width:70px;
  word-wrap:break-word;
}
#u2058_div {
  position:absolute;
  left:0px;
  top:0px;
  width:97px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#FF0000;
}
#u2058 {
  position:absolute;
  left:510px;
  top:183px;
  width:97px;
  height:16px;
  color:#FF0000;
}
#u2059 {
  position:absolute;
  left:0px;
  top:0px;
  width:97px;
  white-space:nowrap;
}
#u2060_div {
  position:absolute;
  left:0px;
  top:0px;
  width:103px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#FF0000;
}
#u2060 {
  position:absolute;
  left:616px;
  top:183px;
  width:103px;
  height:16px;
  color:#FF0000;
}
#u2061 {
  position:absolute;
  left:0px;
  top:0px;
  width:103px;
  white-space:nowrap;
}
#u2062_div {
  position:absolute;
  left:0px;
  top:0px;
  width:97px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#FF0000;
}
#u2062 {
  position:absolute;
  left:728px;
  top:183px;
  width:97px;
  height:16px;
  color:#FF0000;
}
#u2063 {
  position:absolute;
  left:0px;
  top:0px;
  width:97px;
  white-space:nowrap;
}
#u1965_state1 {
  position:absolute;
  left:0px;
  top:0px;
  width:838px;
  height:733px;
  visibility:hidden;
  -ms-overflow-x:hidden;
  overflow-x:hidden;
  -ms-overflow-y:hidden;
  overflow-y:hidden;
  background-image:none;
}
#u1965_state1_content {
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u2064_img {
  position:absolute;
  left:0px;
  top:0px;
  width:487px;
  height:32px;
}
#u2064 {
  position:absolute;
  left:29px;
  top:637px;
  width:487px;
  height:32px;
}
#u2065 {
  position:absolute;
  left:2px;
  top:8px;
  width:483px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2066_img {
  position:absolute;
  left:0px;
  top:0px;
  width:745px;
  height:2px;
}
#u2066 {
  position:absolute;
  left:29px;
  top:154px;
  width:744px;
  height:1px;
}
#u2067 {
  position:absolute;
  left:2px;
  top:-8px;
  width:740px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2068 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u2069_div {
  position:absolute;
  left:0px;
  top:0px;
  width:29px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u2069 {
  position:absolute;
  left:289px;
  top:81px;
  width:29px;
  height:16px;
}
#u2070 {
  position:absolute;
  left:0px;
  top:0px;
  width:29px;
  white-space:nowrap;
}
#u2071_div {
  position:absolute;
  left:0px;
  top:0px;
  width:98px;
  height:25px;
  background:inherit;
  background-color:rgba(22, 155, 213, 1);
  border:none;
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u2071 {
  position:absolute;
  left:289px;
  top:117px;
  width:98px;
  height:25px;
}
#u2072 {
  position:absolute;
  left:2px;
  top:4px;
  width:94px;
  word-wrap:break-word;
}
#u2073 {
  position:absolute;
  left:328px;
  top:78px;
  width:114px;
  height:25px;
}
#u2073_input {
  position:absolute;
  left:0px;
  top:0px;
  width:114px;
  height:25px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
}
#u2073_input:disabled {
  color:grayText;
}
#u2074_div {
  position:absolute;
  left:0px;
  top:0px;
  width:43px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u2074 {
  position:absolute;
  left:35px;
  top:82px;
  width:43px;
  height:16px;
}
#u2075 {
  position:absolute;
  left:0px;
  top:0px;
  width:43px;
  white-space:nowrap;
}
#u2076 {
  position:absolute;
  left:100px;
  top:78px;
  width:120px;
  height:25px;
}
#u2076_input {
  position:absolute;
  left:0px;
  top:0px;
  width:120px;
  height:25px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:left;
}
#u2077_div {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u2077 {
  position:absolute;
  left:507px;
  top:81px;
  width:57px;
  height:16px;
}
#u2078 {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  white-space:nowrap;
}
#u2079 {
  position:absolute;
  left:572px;
  top:78px;
  width:114px;
  height:25px;
}
#u2079_input {
  position:absolute;
  left:0px;
  top:0px;
  width:114px;
  height:25px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
}
#u2079_input:disabled {
  color:grayText;
}
#u2080_img {
  position:absolute;
  left:0px;
  top:0px;
  width:110px;
  height:37px;
}
#u2080 {
  position:absolute;
  left:116px;
  top:2px;
  width:110px;
  height:37px;
  color:#FFFFFF;
}
#u2081 {
  position:absolute;
  left:2px;
  top:10px;
  width:106px;
  word-wrap:break-word;
}
#u2082_img {
  position:absolute;
  left:0px;
  top:0px;
  width:829px;
  height:9px;
}
#u2082 {
  position:absolute;
  left:6px;
  top:38px;
  width:829px;
  height:9px;
}
#u2083 {
  position:absolute;
  left:2px;
  top:-4px;
  width:825px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2084_img {
  position:absolute;
  left:0px;
  top:0px;
  width:110px;
  height:37px;
}
#u2084 {
  position:absolute;
  left:5px;
  top:2px;
  width:110px;
  height:37px;
  color:#FFFFFF;
}
#u2085 {
  position:absolute;
  left:2px;
  top:10px;
  width:106px;
  word-wrap:break-word;
}
#u2086 {
  position:absolute;
  left:11px;
  top:205px;
  width:818px;
  height:409px;
}
#u2087_img {
  position:absolute;
  left:0px;
  top:0px;
  width:98px;
  height:36px;
}
#u2087 {
  position:absolute;
  left:0px;
  top:0px;
  width:98px;
  height:36px;
}
#u2088 {
  position:absolute;
  left:2px;
  top:10px;
  width:94px;
  word-wrap:break-word;
}
#u2089_img {
  position:absolute;
  left:0px;
  top:0px;
  width:102px;
  height:36px;
}
#u2089 {
  position:absolute;
  left:98px;
  top:0px;
  width:102px;
  height:36px;
}
#u2090 {
  position:absolute;
  left:2px;
  top:10px;
  width:98px;
  word-wrap:break-word;
}
#u2091_img {
  position:absolute;
  left:0px;
  top:0px;
  width:102px;
  height:36px;
}
#u2091 {
  position:absolute;
  left:200px;
  top:0px;
  width:102px;
  height:36px;
}
#u2092 {
  position:absolute;
  left:2px;
  top:10px;
  width:98px;
  word-wrap:break-word;
}
#u2093_img {
  position:absolute;
  left:0px;
  top:0px;
  width:103px;
  height:36px;
}
#u2093 {
  position:absolute;
  left:302px;
  top:0px;
  width:103px;
  height:36px;
}
#u2094 {
  position:absolute;
  left:2px;
  top:10px;
  width:99px;
  word-wrap:break-word;
}
#u2095_img {
  position:absolute;
  left:0px;
  top:0px;
  width:102px;
  height:36px;
}
#u2095 {
  position:absolute;
  left:405px;
  top:0px;
  width:102px;
  height:36px;
}
#u2096 {
  position:absolute;
  left:2px;
  top:10px;
  width:98px;
  word-wrap:break-word;
}
#u2097_img {
  position:absolute;
  left:0px;
  top:0px;
  width:102px;
  height:36px;
}
#u2097 {
  position:absolute;
  left:507px;
  top:0px;
  width:102px;
  height:36px;
}
#u2098 {
  position:absolute;
  left:2px;
  top:10px;
  width:98px;
  word-wrap:break-word;
}
#u2099_img {
  position:absolute;
  left:0px;
  top:0px;
  width:102px;
  height:36px;
}
#u2099 {
  position:absolute;
  left:609px;
  top:0px;
  width:102px;
  height:36px;
}
#u2100 {
  position:absolute;
  left:2px;
  top:10px;
  width:98px;
  word-wrap:break-word;
}
#u2101_img {
  position:absolute;
  left:0px;
  top:0px;
  width:102px;
  height:36px;
}
#u2101 {
  position:absolute;
  left:711px;
  top:0px;
  width:102px;
  height:36px;
}
#u2102 {
  position:absolute;
  left:2px;
  top:10px;
  width:98px;
  word-wrap:break-word;
}
#u2103_img {
  position:absolute;
  left:0px;
  top:0px;
  width:98px;
  height:46px;
}
#u2103 {
  position:absolute;
  left:0px;
  top:36px;
  width:98px;
  height:46px;
  font-size:14px;
}
#u2104 {
  position:absolute;
  left:2px;
  top:15px;
  width:94px;
  word-wrap:break-word;
}
#u2105_img {
  position:absolute;
  left:0px;
  top:0px;
  width:102px;
  height:46px;
}
#u2105 {
  position:absolute;
  left:98px;
  top:36px;
  width:102px;
  height:46px;
  font-size:14px;
}
#u2106 {
  position:absolute;
  left:2px;
  top:15px;
  width:98px;
  word-wrap:break-word;
}
#u2107_img {
  position:absolute;
  left:0px;
  top:0px;
  width:102px;
  height:46px;
}
#u2107 {
  position:absolute;
  left:200px;
  top:36px;
  width:102px;
  height:46px;
  font-size:14px;
}
#u2108 {
  position:absolute;
  left:2px;
  top:15px;
  width:98px;
  word-wrap:break-word;
}
#u2109_img {
  position:absolute;
  left:0px;
  top:0px;
  width:103px;
  height:46px;
}
#u2109 {
  position:absolute;
  left:302px;
  top:36px;
  width:103px;
  height:46px;
  font-size:14px;
}
#u2110 {
  position:absolute;
  left:2px;
  top:15px;
  width:99px;
  word-wrap:break-word;
}
#u2111_img {
  position:absolute;
  left:0px;
  top:0px;
  width:102px;
  height:46px;
}
#u2111 {
  position:absolute;
  left:405px;
  top:36px;
  width:102px;
  height:46px;
  font-size:14px;
}
#u2112 {
  position:absolute;
  left:2px;
  top:15px;
  width:98px;
  word-wrap:break-word;
}
#u2113_img {
  position:absolute;
  left:0px;
  top:0px;
  width:102px;
  height:46px;
}
#u2113 {
  position:absolute;
  left:507px;
  top:36px;
  width:102px;
  height:46px;
  font-size:14px;
}
#u2114 {
  position:absolute;
  left:2px;
  top:15px;
  width:98px;
  word-wrap:break-word;
}
#u2115_img {
  position:absolute;
  left:0px;
  top:0px;
  width:102px;
  height:46px;
}
#u2115 {
  position:absolute;
  left:609px;
  top:36px;
  width:102px;
  height:46px;
  font-size:14px;
}
#u2116 {
  position:absolute;
  left:2px;
  top:15px;
  width:98px;
  word-wrap:break-word;
}
#u2117_img {
  position:absolute;
  left:0px;
  top:0px;
  width:102px;
  height:46px;
}
#u2117 {
  position:absolute;
  left:711px;
  top:36px;
  width:102px;
  height:46px;
  font-size:14px;
  text-align:left;
}
#u2118 {
  position:absolute;
  left:2px;
  top:15px;
  width:98px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2119_img {
  position:absolute;
  left:0px;
  top:0px;
  width:98px;
  height:46px;
}
#u2119 {
  position:absolute;
  left:0px;
  top:82px;
  width:98px;
  height:46px;
  font-size:14px;
}
#u2120 {
  position:absolute;
  left:2px;
  top:15px;
  width:94px;
  word-wrap:break-word;
}
#u2121_img {
  position:absolute;
  left:0px;
  top:0px;
  width:102px;
  height:46px;
}
#u2121 {
  position:absolute;
  left:98px;
  top:82px;
  width:102px;
  height:46px;
  font-size:14px;
}
#u2122 {
  position:absolute;
  left:2px;
  top:15px;
  width:98px;
  word-wrap:break-word;
}
#u2123_img {
  position:absolute;
  left:0px;
  top:0px;
  width:102px;
  height:46px;
}
#u2123 {
  position:absolute;
  left:200px;
  top:82px;
  width:102px;
  height:46px;
  font-size:14px;
}
#u2124 {
  position:absolute;
  left:2px;
  top:15px;
  width:98px;
  word-wrap:break-word;
}
#u2125_img {
  position:absolute;
  left:0px;
  top:0px;
  width:103px;
  height:46px;
}
#u2125 {
  position:absolute;
  left:302px;
  top:82px;
  width:103px;
  height:46px;
  font-size:14px;
}
#u2126 {
  position:absolute;
  left:2px;
  top:15px;
  width:99px;
  word-wrap:break-word;
}
#u2127_img {
  position:absolute;
  left:0px;
  top:0px;
  width:102px;
  height:46px;
}
#u2127 {
  position:absolute;
  left:405px;
  top:82px;
  width:102px;
  height:46px;
  font-size:14px;
}
#u2128 {
  position:absolute;
  left:2px;
  top:15px;
  width:98px;
  word-wrap:break-word;
}
#u2129_img {
  position:absolute;
  left:0px;
  top:0px;
  width:102px;
  height:46px;
}
#u2129 {
  position:absolute;
  left:507px;
  top:82px;
  width:102px;
  height:46px;
  font-size:14px;
}
#u2130 {
  position:absolute;
  left:2px;
  top:15px;
  width:98px;
  word-wrap:break-word;
}
#u2131_img {
  position:absolute;
  left:0px;
  top:0px;
  width:102px;
  height:46px;
}
#u2131 {
  position:absolute;
  left:609px;
  top:82px;
  width:102px;
  height:46px;
  font-size:14px;
}
#u2132 {
  position:absolute;
  left:2px;
  top:15px;
  width:98px;
  word-wrap:break-word;
}
#u2133_img {
  position:absolute;
  left:0px;
  top:0px;
  width:102px;
  height:46px;
}
#u2133 {
  position:absolute;
  left:711px;
  top:82px;
  width:102px;
  height:46px;
  font-size:14px;
  text-align:left;
}
#u2134 {
  position:absolute;
  left:2px;
  top:15px;
  width:98px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2135_img {
  position:absolute;
  left:0px;
  top:0px;
  width:98px;
  height:46px;
}
#u2135 {
  position:absolute;
  left:0px;
  top:128px;
  width:98px;
  height:46px;
  font-size:14px;
}
#u2136 {
  position:absolute;
  left:2px;
  top:15px;
  width:94px;
  word-wrap:break-word;
}
#u2137_img {
  position:absolute;
  left:0px;
  top:0px;
  width:102px;
  height:46px;
}
#u2137 {
  position:absolute;
  left:98px;
  top:128px;
  width:102px;
  height:46px;
  font-size:14px;
}
#u2138 {
  position:absolute;
  left:2px;
  top:15px;
  width:98px;
  word-wrap:break-word;
}
#u2139_img {
  position:absolute;
  left:0px;
  top:0px;
  width:102px;
  height:46px;
}
#u2139 {
  position:absolute;
  left:200px;
  top:128px;
  width:102px;
  height:46px;
  font-size:14px;
}
#u2140 {
  position:absolute;
  left:2px;
  top:15px;
  width:98px;
  word-wrap:break-word;
}
#u2141_img {
  position:absolute;
  left:0px;
  top:0px;
  width:103px;
  height:46px;
}
#u2141 {
  position:absolute;
  left:302px;
  top:128px;
  width:103px;
  height:46px;
  font-size:14px;
}
#u2142 {
  position:absolute;
  left:2px;
  top:15px;
  width:99px;
  word-wrap:break-word;
}
#u2143_img {
  position:absolute;
  left:0px;
  top:0px;
  width:102px;
  height:46px;
}
#u2143 {
  position:absolute;
  left:405px;
  top:128px;
  width:102px;
  height:46px;
  font-size:14px;
}
#u2144 {
  position:absolute;
  left:2px;
  top:15px;
  width:98px;
  word-wrap:break-word;
}
#u2145_img {
  position:absolute;
  left:0px;
  top:0px;
  width:102px;
  height:46px;
}
#u2145 {
  position:absolute;
  left:507px;
  top:128px;
  width:102px;
  height:46px;
  font-size:14px;
}
#u2146 {
  position:absolute;
  left:2px;
  top:15px;
  width:98px;
  word-wrap:break-word;
}
#u2147_img {
  position:absolute;
  left:0px;
  top:0px;
  width:102px;
  height:46px;
}
#u2147 {
  position:absolute;
  left:609px;
  top:128px;
  width:102px;
  height:46px;
  font-size:14px;
}
#u2148 {
  position:absolute;
  left:2px;
  top:15px;
  width:98px;
  word-wrap:break-word;
}
#u2149_img {
  position:absolute;
  left:0px;
  top:0px;
  width:102px;
  height:46px;
}
#u2149 {
  position:absolute;
  left:711px;
  top:128px;
  width:102px;
  height:46px;
  font-size:14px;
  text-align:left;
}
#u2150 {
  position:absolute;
  left:2px;
  top:15px;
  width:98px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2151_img {
  position:absolute;
  left:0px;
  top:0px;
  width:98px;
  height:46px;
}
#u2151 {
  position:absolute;
  left:0px;
  top:174px;
  width:98px;
  height:46px;
  font-size:14px;
}
#u2152 {
  position:absolute;
  left:2px;
  top:15px;
  width:94px;
  word-wrap:break-word;
}
#u2153_img {
  position:absolute;
  left:0px;
  top:0px;
  width:102px;
  height:46px;
}
#u2153 {
  position:absolute;
  left:98px;
  top:174px;
  width:102px;
  height:46px;
  font-size:14px;
}
#u2154 {
  position:absolute;
  left:2px;
  top:15px;
  width:98px;
  word-wrap:break-word;
}
#u2155_img {
  position:absolute;
  left:0px;
  top:0px;
  width:102px;
  height:46px;
}
#u2155 {
  position:absolute;
  left:200px;
  top:174px;
  width:102px;
  height:46px;
  font-size:14px;
}
#u2156 {
  position:absolute;
  left:2px;
  top:15px;
  width:98px;
  word-wrap:break-word;
}
#u2157_img {
  position:absolute;
  left:0px;
  top:0px;
  width:103px;
  height:46px;
}
#u2157 {
  position:absolute;
  left:302px;
  top:174px;
  width:103px;
  height:46px;
  font-size:14px;
}
#u2158 {
  position:absolute;
  left:2px;
  top:15px;
  width:99px;
  word-wrap:break-word;
}
#u2159_img {
  position:absolute;
  left:0px;
  top:0px;
  width:102px;
  height:46px;
}
#u2159 {
  position:absolute;
  left:405px;
  top:174px;
  width:102px;
  height:46px;
  font-size:14px;
}
#u2160 {
  position:absolute;
  left:2px;
  top:15px;
  width:98px;
  word-wrap:break-word;
}
#u2161_img {
  position:absolute;
  left:0px;
  top:0px;
  width:102px;
  height:46px;
}
#u2161 {
  position:absolute;
  left:507px;
  top:174px;
  width:102px;
  height:46px;
  font-size:14px;
}
#u2162 {
  position:absolute;
  left:2px;
  top:15px;
  width:98px;
  word-wrap:break-word;
}
#u2163_img {
  position:absolute;
  left:0px;
  top:0px;
  width:102px;
  height:46px;
}
#u2163 {
  position:absolute;
  left:609px;
  top:174px;
  width:102px;
  height:46px;
  font-size:14px;
}
#u2164 {
  position:absolute;
  left:2px;
  top:15px;
  width:98px;
  word-wrap:break-word;
}
#u2165_img {
  position:absolute;
  left:0px;
  top:0px;
  width:102px;
  height:46px;
}
#u2165 {
  position:absolute;
  left:711px;
  top:174px;
  width:102px;
  height:46px;
  font-size:14px;
  text-align:left;
}
#u2166 {
  position:absolute;
  left:2px;
  top:15px;
  width:98px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2167_img {
  position:absolute;
  left:0px;
  top:0px;
  width:98px;
  height:46px;
}
#u2167 {
  position:absolute;
  left:0px;
  top:220px;
  width:98px;
  height:46px;
  font-size:14px;
  text-align:left;
}
#u2168 {
  position:absolute;
  left:2px;
  top:15px;
  width:94px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2169_img {
  position:absolute;
  left:0px;
  top:0px;
  width:102px;
  height:46px;
}
#u2169 {
  position:absolute;
  left:98px;
  top:220px;
  width:102px;
  height:46px;
  font-size:14px;
  text-align:left;
}
#u2170 {
  position:absolute;
  left:2px;
  top:15px;
  width:98px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2171_img {
  position:absolute;
  left:0px;
  top:0px;
  width:102px;
  height:46px;
}
#u2171 {
  position:absolute;
  left:200px;
  top:220px;
  width:102px;
  height:46px;
  font-size:14px;
  text-align:left;
}
#u2172 {
  position:absolute;
  left:2px;
  top:15px;
  width:98px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2173_img {
  position:absolute;
  left:0px;
  top:0px;
  width:103px;
  height:46px;
}
#u2173 {
  position:absolute;
  left:302px;
  top:220px;
  width:103px;
  height:46px;
  font-size:14px;
  text-align:left;
}
#u2174 {
  position:absolute;
  left:2px;
  top:15px;
  width:99px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2175_img {
  position:absolute;
  left:0px;
  top:0px;
  width:102px;
  height:46px;
}
#u2175 {
  position:absolute;
  left:405px;
  top:220px;
  width:102px;
  height:46px;
  font-size:14px;
  text-align:left;
}
#u2176 {
  position:absolute;
  left:2px;
  top:15px;
  width:98px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2177_img {
  position:absolute;
  left:0px;
  top:0px;
  width:102px;
  height:46px;
}
#u2177 {
  position:absolute;
  left:507px;
  top:220px;
  width:102px;
  height:46px;
  font-size:14px;
  text-align:left;
}
#u2178 {
  position:absolute;
  left:2px;
  top:15px;
  width:98px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2179_img {
  position:absolute;
  left:0px;
  top:0px;
  width:102px;
  height:46px;
}
#u2179 {
  position:absolute;
  left:609px;
  top:220px;
  width:102px;
  height:46px;
  font-size:14px;
  text-align:left;
}
#u2180 {
  position:absolute;
  left:2px;
  top:15px;
  width:98px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2181_img {
  position:absolute;
  left:0px;
  top:0px;
  width:102px;
  height:46px;
}
#u2181 {
  position:absolute;
  left:711px;
  top:220px;
  width:102px;
  height:46px;
  font-size:14px;
  text-align:left;
}
#u2182 {
  position:absolute;
  left:2px;
  top:15px;
  width:98px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2183_img {
  position:absolute;
  left:0px;
  top:0px;
  width:98px;
  height:46px;
}
#u2183 {
  position:absolute;
  left:0px;
  top:266px;
  width:98px;
  height:46px;
  font-size:14px;
  text-align:left;
}
#u2184 {
  position:absolute;
  left:2px;
  top:15px;
  width:94px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2185_img {
  position:absolute;
  left:0px;
  top:0px;
  width:102px;
  height:46px;
}
#u2185 {
  position:absolute;
  left:98px;
  top:266px;
  width:102px;
  height:46px;
  font-size:14px;
  text-align:left;
}
#u2186 {
  position:absolute;
  left:2px;
  top:15px;
  width:98px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2187_img {
  position:absolute;
  left:0px;
  top:0px;
  width:102px;
  height:46px;
}
#u2187 {
  position:absolute;
  left:200px;
  top:266px;
  width:102px;
  height:46px;
  font-size:14px;
  text-align:left;
}
#u2188 {
  position:absolute;
  left:2px;
  top:15px;
  width:98px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2189_img {
  position:absolute;
  left:0px;
  top:0px;
  width:103px;
  height:46px;
}
#u2189 {
  position:absolute;
  left:302px;
  top:266px;
  width:103px;
  height:46px;
  font-size:14px;
  text-align:left;
}
#u2190 {
  position:absolute;
  left:2px;
  top:15px;
  width:99px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2191_img {
  position:absolute;
  left:0px;
  top:0px;
  width:102px;
  height:46px;
}
#u2191 {
  position:absolute;
  left:405px;
  top:266px;
  width:102px;
  height:46px;
  font-size:14px;
  text-align:left;
}
#u2192 {
  position:absolute;
  left:2px;
  top:15px;
  width:98px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2193_img {
  position:absolute;
  left:0px;
  top:0px;
  width:102px;
  height:46px;
}
#u2193 {
  position:absolute;
  left:507px;
  top:266px;
  width:102px;
  height:46px;
  font-size:14px;
  text-align:left;
}
#u2194 {
  position:absolute;
  left:2px;
  top:15px;
  width:98px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2195_img {
  position:absolute;
  left:0px;
  top:0px;
  width:102px;
  height:46px;
}
#u2195 {
  position:absolute;
  left:609px;
  top:266px;
  width:102px;
  height:46px;
  font-size:14px;
  text-align:left;
}
#u2196 {
  position:absolute;
  left:2px;
  top:15px;
  width:98px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2197_img {
  position:absolute;
  left:0px;
  top:0px;
  width:102px;
  height:46px;
}
#u2197 {
  position:absolute;
  left:711px;
  top:266px;
  width:102px;
  height:46px;
  font-size:14px;
  text-align:left;
}
#u2198 {
  position:absolute;
  left:2px;
  top:15px;
  width:98px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2199_img {
  position:absolute;
  left:0px;
  top:0px;
  width:98px;
  height:46px;
}
#u2199 {
  position:absolute;
  left:0px;
  top:312px;
  width:98px;
  height:46px;
  font-size:14px;
  text-align:left;
}
#u2200 {
  position:absolute;
  left:2px;
  top:15px;
  width:94px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2201_img {
  position:absolute;
  left:0px;
  top:0px;
  width:102px;
  height:46px;
}
#u2201 {
  position:absolute;
  left:98px;
  top:312px;
  width:102px;
  height:46px;
  font-size:14px;
  text-align:left;
}
#u2202 {
  position:absolute;
  left:2px;
  top:15px;
  width:98px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2203_img {
  position:absolute;
  left:0px;
  top:0px;
  width:102px;
  height:46px;
}
#u2203 {
  position:absolute;
  left:200px;
  top:312px;
  width:102px;
  height:46px;
  font-size:14px;
  text-align:left;
}
#u2204 {
  position:absolute;
  left:2px;
  top:15px;
  width:98px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2205_img {
  position:absolute;
  left:0px;
  top:0px;
  width:103px;
  height:46px;
}
#u2205 {
  position:absolute;
  left:302px;
  top:312px;
  width:103px;
  height:46px;
  font-size:14px;
  text-align:left;
}
#u2206 {
  position:absolute;
  left:2px;
  top:15px;
  width:99px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2207_img {
  position:absolute;
  left:0px;
  top:0px;
  width:102px;
  height:46px;
}
#u2207 {
  position:absolute;
  left:405px;
  top:312px;
  width:102px;
  height:46px;
  font-size:14px;
  text-align:left;
}
#u2208 {
  position:absolute;
  left:2px;
  top:15px;
  width:98px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2209_img {
  position:absolute;
  left:0px;
  top:0px;
  width:102px;
  height:46px;
}
#u2209 {
  position:absolute;
  left:507px;
  top:312px;
  width:102px;
  height:46px;
  font-size:14px;
  text-align:left;
}
#u2210 {
  position:absolute;
  left:2px;
  top:15px;
  width:98px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2211_img {
  position:absolute;
  left:0px;
  top:0px;
  width:102px;
  height:46px;
}
#u2211 {
  position:absolute;
  left:609px;
  top:312px;
  width:102px;
  height:46px;
  font-size:14px;
  text-align:left;
}
#u2212 {
  position:absolute;
  left:2px;
  top:15px;
  width:98px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2213_img {
  position:absolute;
  left:0px;
  top:0px;
  width:102px;
  height:46px;
}
#u2213 {
  position:absolute;
  left:711px;
  top:312px;
  width:102px;
  height:46px;
  font-size:14px;
  text-align:left;
}
#u2214 {
  position:absolute;
  left:2px;
  top:15px;
  width:98px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2215_img {
  position:absolute;
  left:0px;
  top:0px;
  width:98px;
  height:46px;
}
#u2215 {
  position:absolute;
  left:0px;
  top:358px;
  width:98px;
  height:46px;
  font-size:14px;
  text-align:left;
}
#u2216 {
  position:absolute;
  left:2px;
  top:15px;
  width:94px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2217_img {
  position:absolute;
  left:0px;
  top:0px;
  width:102px;
  height:46px;
}
#u2217 {
  position:absolute;
  left:98px;
  top:358px;
  width:102px;
  height:46px;
  font-size:14px;
  text-align:left;
}
#u2218 {
  position:absolute;
  left:2px;
  top:15px;
  width:98px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2219_img {
  position:absolute;
  left:0px;
  top:0px;
  width:102px;
  height:46px;
}
#u2219 {
  position:absolute;
  left:200px;
  top:358px;
  width:102px;
  height:46px;
  font-size:14px;
  text-align:left;
}
#u2220 {
  position:absolute;
  left:2px;
  top:15px;
  width:98px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2221_img {
  position:absolute;
  left:0px;
  top:0px;
  width:103px;
  height:46px;
}
#u2221 {
  position:absolute;
  left:302px;
  top:358px;
  width:103px;
  height:46px;
  font-size:14px;
  text-align:left;
}
#u2222 {
  position:absolute;
  left:2px;
  top:15px;
  width:99px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2223_img {
  position:absolute;
  left:0px;
  top:0px;
  width:102px;
  height:46px;
}
#u2223 {
  position:absolute;
  left:405px;
  top:358px;
  width:102px;
  height:46px;
  font-size:14px;
  text-align:left;
}
#u2224 {
  position:absolute;
  left:2px;
  top:15px;
  width:98px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2225_img {
  position:absolute;
  left:0px;
  top:0px;
  width:102px;
  height:46px;
}
#u2225 {
  position:absolute;
  left:507px;
  top:358px;
  width:102px;
  height:46px;
  font-size:14px;
  text-align:left;
}
#u2226 {
  position:absolute;
  left:2px;
  top:15px;
  width:98px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2227_img {
  position:absolute;
  left:0px;
  top:0px;
  width:102px;
  height:46px;
}
#u2227 {
  position:absolute;
  left:609px;
  top:358px;
  width:102px;
  height:46px;
  font-size:14px;
  text-align:left;
}
#u2228 {
  position:absolute;
  left:2px;
  top:15px;
  width:98px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2229_img {
  position:absolute;
  left:0px;
  top:0px;
  width:102px;
  height:46px;
}
#u2229 {
  position:absolute;
  left:711px;
  top:358px;
  width:102px;
  height:46px;
  font-size:14px;
  text-align:left;
}
#u2230 {
  position:absolute;
  left:2px;
  top:15px;
  width:98px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2231_div {
  position:absolute;
  left:0px;
  top:0px;
  width:64px;
  height:21px;
  background:inherit;
  background-color:rgba(22, 155, 213, 1);
  border:none;
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u2231 {
  position:absolute;
  left:745px;
  top:254px;
  width:64px;
  height:21px;
}
#u2232 {
  position:absolute;
  left:2px;
  top:2px;
  width:60px;
  word-wrap:break-word;
}
#u2233_div {
  position:absolute;
  left:0px;
  top:0px;
  width:64px;
  height:21px;
  background:inherit;
  background-color:rgba(22, 155, 213, 1);
  border:none;
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u2233 {
  position:absolute;
  left:745px;
  top:299px;
  width:64px;
  height:21px;
}
#u2234 {
  position:absolute;
  left:2px;
  top:2px;
  width:60px;
  word-wrap:break-word;
}
#u2235_div {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u2235 {
  position:absolute;
  left:21px;
  top:121px;
  width:57px;
  height:16px;
}
#u2236 {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  white-space:nowrap;
}
#u2237 {
  position:absolute;
  left:101px;
  top:117px;
  width:117px;
  height:25px;
}
#u2237_input {
  position:absolute;
  left:0px;
  top:0px;
  width:117px;
  height:25px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:left;
}
#u2238_div {
  position:absolute;
  left:0px;
  top:0px;
  width:97px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#FF0000;
}
#u2238 {
  position:absolute;
  left:494px;
  top:172px;
  width:97px;
  height:16px;
  color:#FF0000;
}
#u2239 {
  position:absolute;
  left:0px;
  top:0px;
  width:97px;
  white-space:nowrap;
}
#u2240_div {
  position:absolute;
  left:0px;
  top:0px;
  width:103px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#FF0000;
}
#u2240 {
  position:absolute;
  left:600px;
  top:172px;
  width:103px;
  height:16px;
  color:#FF0000;
}
#u2241 {
  position:absolute;
  left:0px;
  top:0px;
  width:103px;
  white-space:nowrap;
}
#u2242_div {
  position:absolute;
  left:0px;
  top:0px;
  width:97px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#FF0000;
}
#u2242 {
  position:absolute;
  left:712px;
  top:172px;
  width:97px;
  height:16px;
  color:#FF0000;
}
#u2243 {
  position:absolute;
  left:0px;
  top:0px;
  width:97px;
  white-space:nowrap;
}
#u1965_state2 {
  position:absolute;
  left:0px;
  top:0px;
  width:838px;
  height:733px;
  visibility:hidden;
  -ms-overflow-x:hidden;
  overflow-x:hidden;
  -ms-overflow-y:hidden;
  overflow-y:hidden;
  background-image:none;
}
#u1965_state2_content {
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u2244_div {
  position:absolute;
  left:0px;
  top:0px;
  width:98px;
  height:25px;
  background:inherit;
  background-color:rgba(22, 155, 213, 1);
  border:none;
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u2244 {
  position:absolute;
  left:33px;
  top:43px;
  width:98px;
  height:25px;
}
#u2245 {
  position:absolute;
  left:2px;
  top:4px;
  width:94px;
  word-wrap:break-word;
}
#u2246_div {
  position:absolute;
  left:0px;
  top:0px;
  width:43px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u2246 {
  position:absolute;
  left:114px;
  top:108px;
  width:43px;
  height:16px;
}
#u2247 {
  position:absolute;
  left:0px;
  top:0px;
  width:43px;
  white-space:nowrap;
}
#u2248 {
  position:absolute;
  left:195px;
  top:104px;
  width:160px;
  height:25px;
}
#u2248_input {
  position:absolute;
  left:0px;
  top:0px;
  width:160px;
  height:25px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#666666;
  text-align:left;
}
#u2249_div {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u2249 {
  position:absolute;
  left:102px;
  top:152px;
  width:57px;
  height:16px;
}
#u2250 {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  white-space:nowrap;
}
#u2251 {
  position:absolute;
  left:195px;
  top:148px;
  width:160px;
  height:25px;
}
#u2251_input {
  position:absolute;
  left:0px;
  top:0px;
  width:160px;
  height:25px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#666666;
  text-align:left;
}
#u2252_div {
  position:absolute;
  left:0px;
  top:0px;
  width:98px;
  height:25px;
  background:inherit;
  background-color:rgba(22, 155, 213, 1);
  border:none;
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u2252 {
  position:absolute;
  left:156px;
  top:43px;
  width:98px;
  height:25px;
}
#u2253 {
  position:absolute;
  left:2px;
  top:4px;
  width:94px;
  word-wrap:break-word;
}
#u2254_div {
  position:absolute;
  left:0px;
  top:0px;
  width:29px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u2254 {
  position:absolute;
  left:125px;
  top:195px;
  width:29px;
  height:16px;
}
#u2255 {
  position:absolute;
  left:0px;
  top:0px;
  width:29px;
  white-space:nowrap;
}
#u2256 {
  position:absolute;
  left:197px;
  top:191px;
  width:160px;
  height:25px;
}
#u2256_input {
  position:absolute;
  left:0px;
  top:0px;
  width:160px;
  height:25px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#666666;
  text-align:left;
}
#u2257_div {
  position:absolute;
  left:0px;
  top:0px;
  width:43px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u2257 {
  position:absolute;
  left:116px;
  top:240px;
  width:43px;
  height:16px;
}
#u2258 {
  position:absolute;
  left:0px;
  top:0px;
  width:43px;
  white-space:nowrap;
}
#u2259 {
  position:absolute;
  left:195px;
  top:236px;
  width:160px;
  height:25px;
}
#u2259_input {
  position:absolute;
  left:0px;
  top:0px;
  width:160px;
  height:25px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#666666;
  text-align:left;
}
#u2260_div {
  position:absolute;
  left:0px;
  top:0px;
  width:43px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u2260 {
  position:absolute;
  left:116px;
  top:282px;
  width:43px;
  height:16px;
}
#u2261 {
  position:absolute;
  left:0px;
  top:0px;
  width:43px;
  white-space:nowrap;
}
#u2262 {
  position:absolute;
  left:195px;
  top:278px;
  width:160px;
  height:25px;
}
#u2262_input {
  position:absolute;
  left:0px;
  top:0px;
  width:160px;
  height:25px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#666666;
  text-align:left;
}
#u2263_div {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u2263 {
  position:absolute;
  left:100px;
  top:500px;
  width:57px;
  height:16px;
}
#u2264 {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  white-space:nowrap;
}
#u2265 {
  position:absolute;
  left:195px;
  top:496px;
  width:160px;
  height:25px;
}
#u2265_input {
  position:absolute;
  left:0px;
  top:0px;
  width:160px;
  height:25px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:left;
}
#u2266_div {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u2266 {
  position:absolute;
  left:102px;
  top:324px;
  width:57px;
  height:16px;
}
#u2267 {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  white-space:nowrap;
}
#u2268_img {
  position:absolute;
  left:0px;
  top:0px;
  width:158px;
  height:78px;
}
#u2268 {
  position:absolute;
  left:197px;
  top:324px;
  width:158px;
  height:78px;
}
#u2269 {
  position:absolute;
  left:2px;
  top:31px;
  width:154px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2270 {
  position:absolute;
  left:195px;
  top:452px;
  width:160px;
  height:25px;
}
#u2270_input {
  position:absolute;
  left:0px;
  top:0px;
  width:160px;
  height:25px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#666666;
  text-align:left;
}
#u2271_div {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u2271 {
  position:absolute;
  left:101px;
  top:454px;
  width:57px;
  height:16px;
}
#u2272 {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  white-space:nowrap;
}
#u2273 {
  position:absolute;
  left:195px;
  top:412px;
  width:160px;
  height:25px;
}
#u2273_input {
  position:absolute;
  left:0px;
  top:0px;
  width:160px;
  height:25px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#666666;
  text-align:left;
}
#u2274_div {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u2274 {
  position:absolute;
  left:101px;
  top:414px;
  width:57px;
  height:16px;
}
#u2275 {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  white-space:nowrap;
}
#u2276_div {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u2276 {
  position:absolute;
  left:100px;
  top:541px;
  width:57px;
  height:16px;
}
#u2277 {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  white-space:nowrap;
}
#u2278 {
  position:absolute;
  left:195px;
  top:541px;
  width:160px;
  height:25px;
}
#u2278_input {
  position:absolute;
  left:0px;
  top:0px;
  width:160px;
  height:25px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#999999;
  text-align:left;
}
#u2279_img {
  position:absolute;
  left:0px;
  top:0px;
  width:166px;
  height:733px;
}
#u2279 {
  position:absolute;
  left:6px;
  top:38px;
  width:166px;
  height:733px;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:18px;
  color:#FFFFFF;
}
#u2280 {
  position:absolute;
  left:2px;
  top:358px;
  width:162px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2281_div {
  position:absolute;
  left:0px;
  top:0px;
  width:165px;
  height:41px;
  background:inherit;
  background-color:rgba(22, 155, 213, 1);
  border:none;
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u2281 {
  position:absolute;
  left:7px;
  top:39px;
  width:165px;
  height:41px;
}
#u2282 {
  position:absolute;
  left:2px;
  top:12px;
  width:161px;
  word-wrap:break-word;
}
#u2283_div {
  position:absolute;
  left:0px;
  top:0px;
  width:165px;
  height:41px;
  background:inherit;
  background-color:rgba(0, 0, 255, 1);
  border:none;
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u2283 {
  position:absolute;
  left:7px;
  top:165px;
  width:165px;
  height:41px;
}
#u2284 {
  position:absolute;
  left:2px;
  top:12px;
  width:161px;
  word-wrap:break-word;
}
#u2285_div {
  position:absolute;
  left:0px;
  top:0px;
  width:165px;
  height:41px;
  background:inherit;
  background-color:rgba(22, 155, 213, 1);
  border:none;
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u2285 {
  position:absolute;
  left:7px;
  top:81px;
  width:165px;
  height:41px;
}
#u2286 {
  position:absolute;
  left:2px;
  top:12px;
  width:161px;
  word-wrap:break-word;
}
#u2287_div {
  position:absolute;
  left:0px;
  top:0px;
  width:165px;
  height:41px;
  background:inherit;
  background-color:rgba(22, 155, 213, 1);
  border:none;
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u2287 {
  position:absolute;
  left:7px;
  top:310px;
  width:165px;
  height:41px;
}
#u2288 {
  position:absolute;
  left:2px;
  top:12px;
  width:161px;
  word-wrap:break-word;
}
#u2289_div {
  position:absolute;
  left:0px;
  top:0px;
  width:29px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u2289 {
  position:absolute;
  left:72px;
  top:245px;
  width:29px;
  height:16px;
}
#u2290 {
  position:absolute;
  left:0px;
  top:0px;
  width:29px;
  white-space:nowrap;
}
#u2291_div {
  position:absolute;
  left:0px;
  top:0px;
  width:29px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u2291 {
  position:absolute;
  left:72px;
  top:218px;
  width:29px;
  height:16px;
}
#u2292 {
  position:absolute;
  left:0px;
  top:0px;
  width:29px;
  white-space:nowrap;
}
#u2293_div {
  position:absolute;
  left:0px;
  top:0px;
  width:165px;
  height:41px;
  background:inherit;
  background-color:rgba(22, 155, 213, 1);
  border:none;
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u2293 {
  position:absolute;
  left:7px;
  top:268px;
  width:165px;
  height:41px;
}
#u2294 {
  position:absolute;
  left:2px;
  top:12px;
  width:161px;
  word-wrap:break-word;
}
#u2295_div {
  position:absolute;
  left:0px;
  top:0px;
  width:165px;
  height:41px;
  background:inherit;
  background-color:rgba(22, 155, 213, 1);
  border:none;
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u2295 {
  position:absolute;
  left:7px;
  top:123px;
  width:165px;
  height:41px;
}
#u2296 {
  position:absolute;
  left:2px;
  top:12px;
  width:161px;
  word-wrap:break-word;
}
