body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:948px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u0_div {
  position:absolute;
  left:0px;
  top:0px;
  width:85px;
  height:25px;
  background:-webkit-linear-gradient(270deg, rgba(67, 66, 169, 1) 0%, rgba(67, 66, 169, 1) 0%, rgba(67, 66, 169, 1) 54%, rgba(18, 22, 126, 1) 100%, rgba(18, 22, 126, 1) 100%);
  background:-moz-linear-gradient(180deg, rgba(67, 66, 169, 1) 0%, rgba(67, 66, 169, 1) 0%, rgba(67, 66, 169, 1) 54%, rgba(18, 22, 126, 1) 100%, rgba(18, 22, 126, 1) 100%);
  background:linear-gradient(180deg, rgba(67, 66, 169, 1) 0%, rgba(67, 66, 169, 1) 0%, rgba(67, 66, 169, 1) 54%, rgba(18, 22, 126, 1) 100%, rgba(18, 22, 126, 1) 100%);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(0, 0, 0, 1);
  border-radius:3px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  color:#FFFFFF;
}
#u0 {
  position:absolute;
  left:249px;
  top:11px;
  width:85px;
  height:25px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  color:#FFFFFF;
}
#u1 {
  position:absolute;
  left:2px;
  top:4px;
  width:81px;
  word-wrap:break-word;
}
#u2 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u3 {
  position:absolute;
  left:90px;
  top:12px;
  width:131px;
  height:25px;
}
#u3_input {
  position:absolute;
  left:0px;
  top:0px;
  width:131px;
  height:25px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:left;
}
#u4_img {
  position:absolute;
  left:0px;
  top:0px;
  width:98px;
  height:16px;
}
#u4 {
  position:absolute;
  left:22px;
  top:17px;
  width:98px;
  height:16px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
}
#u5 {
  position:absolute;
  left:0px;
  top:0px;
  width:98px;
  word-wrap:break-word;
}
#u6 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u7_div {
  position:absolute;
  left:0px;
  top:0px;
  width:940px;
  height:411px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(0, 0, 0, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u7 {
  position:absolute;
  left:8px;
  top:64px;
  width:940px;
  height:411px;
}
#u8 {
  position:absolute;
  left:2px;
  top:198px;
  width:936px;
  visibility:hidden;
  word-wrap:break-word;
}
#u9 {
  position:absolute;
  left:10px;
  top:129px;
  width:936px;
  height:345px;
  overflow:hidden;
}
#u9_state0 {
  position:absolute;
  left:0px;
  top:0px;
  width:936px;
  height:345px;
  overflow:auto;
  -webkit-overflow-scrolling:touch;
  background-image:none;
}
#u9_state0_content {
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u10 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u11_div {
  position:absolute;
  left:0px;
  top:0px;
  width:560px;
  height:130px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u11 {
  position:absolute;
  left:0px;
  top:0px;
  width:560px;
  height:130px;
}
#u12 {
  position:absolute;
  left:2px;
  top:57px;
  width:556px;
  visibility:hidden;
  word-wrap:break-word;
}
#u13 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u14_img {
  position:absolute;
  left:0px;
  top:0px;
  width:105px;
  height:80px;
}
#u14 {
  position:absolute;
  left:10px;
  top:10px;
  width:105px;
  height:80px;
  font-size:45px;
  color:#FFFFFF;
}
#u15 {
  position:absolute;
  left:2px;
  top:32px;
  width:101px;
  visibility:hidden;
  word-wrap:break-word;
}
#u16_img {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:16px;
}
#u16 {
  position:absolute;
  left:10px;
  top:94px;
  width:100px;
  height:16px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  text-align:left;
}
#u17 {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u18 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u19_img {
  position:absolute;
  left:0px;
  top:0px;
  width:105px;
  height:80px;
}
#u19 {
  position:absolute;
  left:155px;
  top:10px;
  width:105px;
  height:80px;
  font-size:45px;
  color:#FFFFFF;
}
#u20 {
  position:absolute;
  left:2px;
  top:32px;
  width:101px;
  visibility:hidden;
  word-wrap:break-word;
}
#u21_img {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:16px;
}
#u21 {
  position:absolute;
  left:155px;
  top:94px;
  width:100px;
  height:16px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  text-align:left;
}
#u22 {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u23 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u24_img {
  position:absolute;
  left:0px;
  top:0px;
  width:105px;
  height:80px;
}
#u24 {
  position:absolute;
  left:300px;
  top:10px;
  width:105px;
  height:80px;
  font-size:45px;
  color:#FFFFFF;
}
#u25 {
  position:absolute;
  left:2px;
  top:32px;
  width:101px;
  visibility:hidden;
  word-wrap:break-word;
}
#u26_img {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:16px;
}
#u26 {
  position:absolute;
  left:300px;
  top:94px;
  width:100px;
  height:16px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  text-align:left;
}
#u27 {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u28 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u29_img {
  position:absolute;
  left:0px;
  top:0px;
  width:105px;
  height:80px;
}
#u29 {
  position:absolute;
  left:445px;
  top:10px;
  width:105px;
  height:80px;
  font-size:45px;
  color:#FFFFFF;
}
#u30 {
  position:absolute;
  left:2px;
  top:32px;
  width:101px;
  visibility:hidden;
  word-wrap:break-word;
}
#u31_img {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:16px;
}
#u31 {
  position:absolute;
  left:445px;
  top:94px;
  width:100px;
  height:16px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  text-align:left;
}
#u32 {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u33_img {
  position:absolute;
  left:0px;
  top:0px;
  width:20px;
  height:20px;
}
#u33 {
  position:absolute;
  left:540px;
  top:10px;
  width:20px;
  height:20px;
}
#u34 {
  position:absolute;
  left:2px;
  top:2px;
  width:16px;
  visibility:hidden;
  word-wrap:break-word;
}
#u35 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u36_img {
  position:absolute;
  left:0px;
  top:0px;
  width:21px;
  height:20px;
}
#u36 {
  position:absolute;
  left:195px;
  top:38px;
  width:21px;
  height:20px;
}
#u37 {
  position:absolute;
  left:2px;
  top:2px;
  width:17px;
  visibility:hidden;
  word-wrap:break-word;
}
#u38_img {
  position:absolute;
  left:0px;
  top:0px;
  width:21px;
  height:20px;
}
#u38 {
  position:absolute;
  left:342px;
  top:38px;
  width:21px;
  height:20px;
}
#u39 {
  position:absolute;
  left:2px;
  top:2px;
  width:17px;
  visibility:hidden;
  word-wrap:break-word;
}
#u40_img {
  position:absolute;
  left:0px;
  top:0px;
  width:21px;
  height:20px;
}
#u40 {
  position:absolute;
  left:486px;
  top:38px;
  width:21px;
  height:20px;
}
#u41 {
  position:absolute;
  left:2px;
  top:2px;
  width:17px;
  visibility:hidden;
  word-wrap:break-word;
}
#u42_img {
  position:absolute;
  left:0px;
  top:0px;
  width:29px;
  height:29px;
}
#u42 {
  position:absolute;
  left:48px;
  top:36px;
  width:29px;
  height:29px;
}
#u43 {
  position:absolute;
  left:2px;
  top:6px;
  width:25px;
  visibility:hidden;
  word-wrap:break-word;
}
#u44_img {
  position:absolute;
  left:0px;
  top:0px;
  width:363px;
  height:19px;
}
#u44 {
  position:absolute;
  left:25px;
  top:105px;
  width:363px;
  height:19px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:16px;
  text-align:left;
}
#u45 {
  position:absolute;
  left:0px;
  top:0px;
  width:363px;
  word-wrap:break-word;
}
#u46 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u47 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u48_img {
  position:absolute;
  left:0px;
  top:0px;
  width:202px;
  height:15px;
}
#u48 {
  position:absolute;
  left:25px;
  top:80px;
  width:202px;
  height:15px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  color:#999999;
}
#u49 {
  position:absolute;
  left:0px;
  top:0px;
  width:202px;
  word-wrap:break-word;
}
#u50 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u51_img {
  position:absolute;
  left:0px;
  top:0px;
  width:202px;
  height:15px;
}
#u51 {
  position:absolute;
  left:221px;
  top:80px;
  width:202px;
  height:15px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  color:#999999;
}
#u52 {
  position:absolute;
  left:0px;
  top:0px;
  width:202px;
  word-wrap:break-word;
}
#u53 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u54_img {
  position:absolute;
  left:0px;
  top:0px;
  width:202px;
  height:15px;
}
#u54 {
  position:absolute;
  left:443px;
  top:80px;
  width:202px;
  height:15px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  color:#999999;
}
#u55 {
  position:absolute;
  left:0px;
  top:0px;
  width:202px;
  word-wrap:break-word;
}
#u56 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u57_img {
  position:absolute;
  left:0px;
  top:0px;
  width:202px;
  height:45px;
}
#u57 {
  position:absolute;
  left:665px;
  top:80px;
  width:202px;
  height:45px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  color:#999999;
}
#u58 {
  position:absolute;
  left:0px;
  top:0px;
  width:202px;
  word-wrap:break-word;
}
#u59 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u60_img {
  position:absolute;
  left:0px;
  top:0px;
  width:263px;
  height:30px;
}
#u60 {
  position:absolute;
  left:467px;
  top:21px;
  width:263px;
  height:30px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  color:#999999;
}
#u61 {
  position:absolute;
  left:0px;
  top:0px;
  width:263px;
  word-wrap:break-word;
}
#u62_div {
  position:absolute;
  left:0px;
  top:0px;
  width:85px;
  height:25px;
  background:-webkit-linear-gradient(270deg, rgba(67, 66, 169, 1) 0%, rgba(67, 66, 169, 1) 0%, rgba(67, 66, 169, 1) 54%, rgba(18, 22, 126, 1) 100%, rgba(18, 22, 126, 1) 100%);
  background:-moz-linear-gradient(180deg, rgba(67, 66, 169, 1) 0%, rgba(67, 66, 169, 1) 0%, rgba(67, 66, 169, 1) 54%, rgba(18, 22, 126, 1) 100%, rgba(18, 22, 126, 1) 100%);
  background:linear-gradient(180deg, rgba(67, 66, 169, 1) 0%, rgba(67, 66, 169, 1) 0%, rgba(67, 66, 169, 1) 54%, rgba(18, 22, 126, 1) 100%, rgba(18, 22, 126, 1) 100%);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(0, 0, 0, 1);
  border-radius:3px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  color:#FFFFFF;
}
#u62 {
  position:absolute;
  left:365px;
  top:12px;
  width:85px;
  height:25px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  color:#FFFFFF;
}
#u63 {
  position:absolute;
  left:2px;
  top:4px;
  width:81px;
  word-wrap:break-word;
}
#u64 {
  position:absolute;
  left:19px;
  top:43px;
  width:900px;
  height:401px;
  overflow:hidden;
  visibility:hidden;
}
#u64_state0 {
  position:absolute;
  left:0px;
  top:0px;
  width:900px;
  height:401px;
  -ms-overflow-x:hidden;
  overflow-x:hidden;
  -ms-overflow-y:hidden;
  overflow-y:hidden;
  background-image:none;
}
#u64_state0_content {
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u65_img {
  position:absolute;
  left:0px;
  top:0px;
  width:868px;
  height:338px;
}
#u65 {
  position:absolute;
  left:10px;
  top:35px;
  width:868px;
  height:338px;
}
#u66 {
  position:absolute;
  left:2px;
  top:161px;
  width:864px;
  visibility:hidden;
  word-wrap:break-word;
}
#u67_img {
  position:absolute;
  left:0px;
  top:0px;
  width:35px;
  height:31px;
}
#u67 {
  position:absolute;
  left:857px;
  top:4px;
  width:35px;
  height:31px;
}
#u68 {
  position:absolute;
  left:2px;
  top:8px;
  width:31px;
  visibility:hidden;
  word-wrap:break-word;
}
#u64_state1 {
  position:absolute;
  left:0px;
  top:0px;
  width:900px;
  height:401px;
  visibility:hidden;
  -ms-overflow-x:hidden;
  overflow-x:hidden;
  -ms-overflow-y:hidden;
  overflow-y:hidden;
  background-image:none;
}
#u64_state1_content {
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u69_img {
  position:absolute;
  left:0px;
  top:0px;
  width:400px;
  height:200px;
}
#u69 {
  position:absolute;
  left:230px;
  top:30px;
  width:400px;
  height:200px;
}
#u70 {
  position:absolute;
  left:2px;
  top:92px;
  width:396px;
  visibility:hidden;
  word-wrap:break-word;
}
#u71_div {
  position:absolute;
  left:0px;
  top:0px;
  width:150px;
  height:15px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:12px;
}
#u71 {
  position:absolute;
  left:247px;
  top:39px;
  width:150px;
  height:15px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:12px;
}
#u72 {
  position:absolute;
  left:0px;
  top:0px;
  width:150px;
  word-wrap:break-word;
}
#u73_div {
  position:absolute;
  left:0px;
  top:0px;
  width:79px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
}
#u73 {
  position:absolute;
  left:251px;
  top:68px;
  width:79px;
  height:16px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
}
#u74 {
  position:absolute;
  left:0px;
  top:0px;
  width:79px;
  word-wrap:break-word;
}
#u75_div {
  position:absolute;
  left:0px;
  top:0px;
  width:275px;
  height:15px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:12px;
  color:#999999;
}
#u75 {
  position:absolute;
  left:334px;
  top:94px;
  width:275px;
  height:15px;
  font-size:12px;
  color:#999999;
}
#u76 {
  position:absolute;
  left:0px;
  top:0px;
  width:275px;
  word-wrap:break-word;
}
#u77 {
  position:absolute;
  left:334px;
  top:65px;
  width:175px;
  height:22px;
}
#u77_input {
  position:absolute;
  left:0px;
  top:0px;
  width:175px;
  height:22px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#333333;
}
#u77_input:disabled {
  color:grayText;
}
#u78 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u79 {
  position:absolute;
  left:334px;
  top:130px;
  width:85px;
  height:25px;
}
#u79_input {
  position:absolute;
  left:0px;
  top:0px;
  width:85px;
  height:25px;
  font-family:'Arial Cursiva', 'Arial Normal', 'Arial';
  font-weight:400;
  font-style:italic;
  font-size:13px;
  text-decoration:none;
  color:#999999;
  text-align:center;
}
#u80_img {
  position:absolute;
  left:0px;
  top:0px;
  width:40px;
  height:26px;
}
#u80 {
  position:absolute;
  left:424px;
  top:130px;
  width:40px;
  height:26px;
}
#u81 {
  position:absolute;
  left:2px;
  top:5px;
  width:36px;
  visibility:hidden;
  word-wrap:break-word;
}
#u82_div {
  position:absolute;
  left:0px;
  top:0px;
  width:80px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
}
#u82 {
  position:absolute;
  left:242px;
  top:134px;
  width:80px;
  height:16px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
}
#u83 {
  position:absolute;
  left:0px;
  top:0px;
  width:80px;
  word-wrap:break-word;
}
#u84_div {
  position:absolute;
  left:0px;
  top:0px;
  width:85px;
  height:25px;
  background:-webkit-linear-gradient(270deg, rgba(67, 66, 169, 1) 0%, rgba(67, 66, 169, 1) 0%, rgba(67, 66, 169, 1) 54%, rgba(18, 22, 126, 1) 100%, rgba(18, 22, 126, 1) 100%);
  background:-moz-linear-gradient(180deg, rgba(67, 66, 169, 1) 0%, rgba(67, 66, 169, 1) 0%, rgba(67, 66, 169, 1) 54%, rgba(18, 22, 126, 1) 100%, rgba(18, 22, 126, 1) 100%);
  background:linear-gradient(180deg, rgba(67, 66, 169, 1) 0%, rgba(67, 66, 169, 1) 0%, rgba(67, 66, 169, 1) 54%, rgba(18, 22, 126, 1) 100%, rgba(18, 22, 126, 1) 100%);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:3px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  color:#FFFFFF;
}
#u84 {
  position:absolute;
  left:485px;
  top:185px;
  width:85px;
  height:25px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  color:#FFFFFF;
}
#u85 {
  position:absolute;
  left:2px;
  top:4px;
  width:81px;
  word-wrap:break-word;
}
#u86_div {
  position:absolute;
  left:0px;
  top:0px;
  width:85px;
  height:25px;
  background:-webkit-linear-gradient(270deg, rgba(67, 66, 169, 1) 0%, rgba(67, 66, 169, 1) 0%, rgba(67, 66, 169, 1) 54%, rgba(18, 22, 126, 1) 100%, rgba(18, 22, 126, 1) 100%);
  background:-moz-linear-gradient(180deg, rgba(67, 66, 169, 1) 0%, rgba(67, 66, 169, 1) 0%, rgba(67, 66, 169, 1) 54%, rgba(18, 22, 126, 1) 100%, rgba(18, 22, 126, 1) 100%);
  background:linear-gradient(180deg, rgba(67, 66, 169, 1) 0%, rgba(67, 66, 169, 1) 0%, rgba(67, 66, 169, 1) 54%, rgba(18, 22, 126, 1) 100%, rgba(18, 22, 126, 1) 100%);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:3px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  color:#FFFFFF;
}
#u86 {
  position:absolute;
  left:285px;
  top:185px;
  width:85px;
  height:25px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  color:#FFFFFF;
}
#u87 {
  position:absolute;
  left:2px;
  top:4px;
  width:81px;
  word-wrap:break-word;
}
#u64_state2 {
  position:absolute;
  left:0px;
  top:0px;
  width:900px;
  height:401px;
  visibility:hidden;
  -ms-overflow-x:hidden;
  overflow-x:hidden;
  -ms-overflow-y:hidden;
  overflow-y:hidden;
  background-image:none;
}
#u64_state2_content {
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u88_img {
  position:absolute;
  left:0px;
  top:0px;
  width:500px;
  height:230px;
}
#u88 {
  position:absolute;
  left:157px;
  top:19px;
  width:500px;
  height:230px;
}
#u89 {
  position:absolute;
  left:2px;
  top:107px;
  width:496px;
  visibility:hidden;
  word-wrap:break-word;
}
#u90_div {
  position:absolute;
  left:0px;
  top:0px;
  width:292px;
  height:15px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:12px;
}
#u90 {
  position:absolute;
  left:190px;
  top:29px;
  width:292px;
  height:15px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:12px;
}
#u91 {
  position:absolute;
  left:0px;
  top:0px;
  width:292px;
  word-wrap:break-word;
}
#u92_div {
  position:absolute;
  left:0px;
  top:0px;
  width:79px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
}
#u92 {
  position:absolute;
  left:190px;
  top:69px;
  width:79px;
  height:16px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
}
#u93 {
  position:absolute;
  left:0px;
  top:0px;
  width:79px;
  word-wrap:break-word;
}
#u94 {
  position:absolute;
  left:249px;
  top:66px;
  width:118px;
  height:22px;
}
#u94_input {
  position:absolute;
  left:0px;
  top:0px;
  width:118px;
  height:22px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#333333;
}
#u94_input:disabled {
  color:grayText;
}
#u95 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u96 {
  position:absolute;
  left:472px;
  top:64px;
  width:85px;
  height:25px;
}
#u96_input {
  position:absolute;
  left:0px;
  top:0px;
  width:85px;
  height:25px;
  font-family:'Arial Cursiva', 'Arial Normal', 'Arial';
  font-weight:400;
  font-style:italic;
  font-size:13px;
  text-decoration:none;
  color:#999999;
  text-align:center;
}
#u97_img {
  position:absolute;
  left:0px;
  top:0px;
  width:40px;
  height:26px;
}
#u97 {
  position:absolute;
  left:562px;
  top:64px;
  width:40px;
  height:26px;
}
#u98 {
  position:absolute;
  left:2px;
  top:5px;
  width:36px;
  visibility:hidden;
  word-wrap:break-word;
}
#u99_div {
  position:absolute;
  left:0px;
  top:0px;
  width:95px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
}
#u99 {
  position:absolute;
  left:387px;
  top:68px;
  width:95px;
  height:16px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
}
#u100 {
  position:absolute;
  left:0px;
  top:0px;
  width:95px;
  word-wrap:break-word;
}
#u101_div {
  position:absolute;
  left:0px;
  top:0px;
  width:79px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
}
#u101 {
  position:absolute;
  left:189px;
  top:105px;
  width:79px;
  height:16px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
}
#u102 {
  position:absolute;
  left:0px;
  top:0px;
  width:79px;
  word-wrap:break-word;
}
#u103 {
  position:absolute;
  left:248px;
  top:102px;
  width:118px;
  height:22px;
}
#u103_input {
  position:absolute;
  left:0px;
  top:0px;
  width:118px;
  height:22px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#333333;
}
#u103_input:disabled {
  color:grayText;
}
#u104 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u105 {
  position:absolute;
  left:471px;
  top:100px;
  width:85px;
  height:25px;
}
#u105_input {
  position:absolute;
  left:0px;
  top:0px;
  width:85px;
  height:25px;
  font-family:'Arial Cursiva', 'Arial Normal', 'Arial';
  font-weight:400;
  font-style:italic;
  font-size:13px;
  text-decoration:none;
  color:#999999;
  text-align:center;
}
#u106_img {
  position:absolute;
  left:0px;
  top:0px;
  width:40px;
  height:26px;
}
#u106 {
  position:absolute;
  left:561px;
  top:100px;
  width:40px;
  height:26px;
}
#u107 {
  position:absolute;
  left:2px;
  top:5px;
  width:36px;
  visibility:hidden;
  word-wrap:break-word;
}
#u108_div {
  position:absolute;
  left:0px;
  top:0px;
  width:95px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
}
#u108 {
  position:absolute;
  left:386px;
  top:104px;
  width:95px;
  height:16px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
}
#u109 {
  position:absolute;
  left:0px;
  top:0px;
  width:95px;
  word-wrap:break-word;
}
#u110_div {
  position:absolute;
  left:0px;
  top:0px;
  width:79px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
}
#u110 {
  position:absolute;
  left:190px;
  top:137px;
  width:79px;
  height:16px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
}
#u111 {
  position:absolute;
  left:0px;
  top:0px;
  width:79px;
  word-wrap:break-word;
}
#u112 {
  position:absolute;
  left:249px;
  top:134px;
  width:118px;
  height:22px;
}
#u112_input {
  position:absolute;
  left:0px;
  top:0px;
  width:118px;
  height:22px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#333333;
}
#u112_input:disabled {
  color:grayText;
}
#u113 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u114 {
  position:absolute;
  left:472px;
  top:132px;
  width:85px;
  height:25px;
}
#u114_input {
  position:absolute;
  left:0px;
  top:0px;
  width:85px;
  height:25px;
  font-family:'Arial Cursiva', 'Arial Normal', 'Arial';
  font-weight:400;
  font-style:italic;
  font-size:13px;
  text-decoration:none;
  color:#999999;
  text-align:center;
}
#u115_img {
  position:absolute;
  left:0px;
  top:0px;
  width:40px;
  height:26px;
}
#u115 {
  position:absolute;
  left:562px;
  top:132px;
  width:40px;
  height:26px;
}
#u116 {
  position:absolute;
  left:2px;
  top:5px;
  width:36px;
  visibility:hidden;
  word-wrap:break-word;
}
#u117_div {
  position:absolute;
  left:0px;
  top:0px;
  width:95px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
}
#u117 {
  position:absolute;
  left:387px;
  top:136px;
  width:95px;
  height:16px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
}
#u118 {
  position:absolute;
  left:0px;
  top:0px;
  width:95px;
  word-wrap:break-word;
}
#u119_div {
  position:absolute;
  left:0px;
  top:0px;
  width:79px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
}
#u119 {
  position:absolute;
  left:190px;
  top:170px;
  width:79px;
  height:16px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
}
#u120 {
  position:absolute;
  left:0px;
  top:0px;
  width:79px;
  word-wrap:break-word;
}
#u121 {
  position:absolute;
  left:249px;
  top:167px;
  width:118px;
  height:22px;
}
#u121_input {
  position:absolute;
  left:0px;
  top:0px;
  width:118px;
  height:22px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#333333;
}
#u121_input:disabled {
  color:grayText;
}
#u122 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u123 {
  position:absolute;
  left:472px;
  top:165px;
  width:85px;
  height:25px;
}
#u123_input {
  position:absolute;
  left:0px;
  top:0px;
  width:85px;
  height:25px;
  font-family:'Arial Cursiva', 'Arial Normal', 'Arial';
  font-weight:400;
  font-style:italic;
  font-size:13px;
  text-decoration:none;
  color:#999999;
  text-align:center;
}
#u124_img {
  position:absolute;
  left:0px;
  top:0px;
  width:40px;
  height:26px;
}
#u124 {
  position:absolute;
  left:562px;
  top:165px;
  width:40px;
  height:26px;
}
#u125 {
  position:absolute;
  left:2px;
  top:5px;
  width:36px;
  visibility:hidden;
  word-wrap:break-word;
}
#u126_div {
  position:absolute;
  left:0px;
  top:0px;
  width:95px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
}
#u126 {
  position:absolute;
  left:387px;
  top:169px;
  width:95px;
  height:16px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
}
#u127 {
  position:absolute;
  left:0px;
  top:0px;
  width:95px;
  word-wrap:break-word;
}
#u128_div {
  position:absolute;
  left:0px;
  top:0px;
  width:85px;
  height:25px;
  background:-webkit-linear-gradient(270deg, rgba(67, 66, 169, 1) 0%, rgba(67, 66, 169, 1) 0%, rgba(67, 66, 169, 1) 54%, rgba(18, 22, 126, 1) 100%, rgba(18, 22, 126, 1) 100%);
  background:-moz-linear-gradient(180deg, rgba(67, 66, 169, 1) 0%, rgba(67, 66, 169, 1) 0%, rgba(67, 66, 169, 1) 54%, rgba(18, 22, 126, 1) 100%, rgba(18, 22, 126, 1) 100%);
  background:linear-gradient(180deg, rgba(67, 66, 169, 1) 0%, rgba(67, 66, 169, 1) 0%, rgba(67, 66, 169, 1) 54%, rgba(18, 22, 126, 1) 100%, rgba(18, 22, 126, 1) 100%);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:3px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  color:#FFFFFF;
}
#u128 {
  position:absolute;
  left:500px;
  top:201px;
  width:85px;
  height:25px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  color:#FFFFFF;
}
#u129 {
  position:absolute;
  left:2px;
  top:4px;
  width:81px;
  word-wrap:break-word;
}
#u130_div {
  position:absolute;
  left:0px;
  top:0px;
  width:85px;
  height:25px;
  background:-webkit-linear-gradient(270deg, rgba(67, 66, 169, 1) 0%, rgba(67, 66, 169, 1) 0%, rgba(67, 66, 169, 1) 54%, rgba(18, 22, 126, 1) 100%, rgba(18, 22, 126, 1) 100%);
  background:-moz-linear-gradient(180deg, rgba(67, 66, 169, 1) 0%, rgba(67, 66, 169, 1) 0%, rgba(67, 66, 169, 1) 54%, rgba(18, 22, 126, 1) 100%, rgba(18, 22, 126, 1) 100%);
  background:linear-gradient(180deg, rgba(67, 66, 169, 1) 0%, rgba(67, 66, 169, 1) 0%, rgba(67, 66, 169, 1) 54%, rgba(18, 22, 126, 1) 100%, rgba(18, 22, 126, 1) 100%);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:3px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  color:#FFFFFF;
}
#u130 {
  position:absolute;
  left:240px;
  top:199px;
  width:85px;
  height:25px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  color:#FFFFFF;
}
#u131 {
  position:absolute;
  left:2px;
  top:4px;
  width:81px;
  word-wrap:break-word;
}
