@charset "utf-8";
/*2017/7/28 xuefumei*/
/* reset */
body {
  font-family: "微软雅黑";
}
body {
  color: #585858;
}
html {
  font-size: 16px;
  color: #5d5d5d;
}
body,
div,
p,
span,
form,
iframe,
table,
td,
th,
input,
textarea,
button,
label,
ul,
ol,
li,
dl,
dt,
dd,
h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
  padding: 0;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  font-size: 100%;
}
ul,
ol,
li,
dl {
  list-style-type: none;
}
em,
i,
dfn,
cite,
strong,
small {
  font-style: normal;
}
img {
  border: 0;
}
fieldset,
button,
input,
select,
option {
  vertical-align: middle;
  font: 12px/18px arial, sans-serif;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}
textarea {
  resize: none;
}
/* color */
a:link,
a:visited {
  color: #33689a;
}
a:hover {
  color: #33689a;
}
a:active {
  color: #33689a;
}
.disnone {
  display: none;
}
/* clearfix */
.clearfix {
  *zoom: 1;
}
.clearfix:after {
  display: table;
  line-height: 0;
  content: "";
  clear: both;
}
input::-webkit-input-placeholder {
  color: #9ab4cb;
  font-size: 16px;
  padding-left: 8px;
}
input:-moz-placeholder {
  color: #9ab4cb;
  font-size: 16px;
}
input::-moz-placeholder {
  color: #9ab4cb;
  font-size: 16px;
}
input:-ms-input-placeholder {
  color: #9ab4cb;
  font-size: 16px;
}
.container {
  position: fixed;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  background: url(img/bg.jpg);
}
.container .main {
  width: 986px;
  height: 458px;
  position: absolute;
  top: 50%;
  left: 50%;
  margin-left: -493px;
  margin-top: -265px;
}
.container .main .main-img {
  position: absolute;
  top: 0;
  left: 0;
  background: url(img/banner.png) no-repeat;
  width: 637px;
  height: 436px;
  margin-top: 22px;
}
.container .main .login-box {
  position: absolute;
  top: 12px;
  bottom: 6px;
  right: 12px;
  background-color: #fff;
  width: 365px;
  height: 442px;
}
.container .main .login-box .register{
  display: inline-block;
  margin-left: 275px;
  margin-top: 11px;  
  font-size: 14px;
}
.container .main .login-box .cell {
  width: 300px;
  padding-top: 30px;
  margin: 0 auto;
}
.container .main .login-box .cell .logo {
  width: 284px;
  height: 35px;
  background: url(img/logo.png) no-repeat;
  margin: 0 auto;
}
.container .main .login-box .cell .title {
  height: 80px;
  line-height: 80px;
  font-size: 22px;
  margin-left: 8px;
  color: #6e8eb1;
}
.container .main .login-box .cell .inputbox input {
  padding-left: 20px;
  width: 280px;
  height: 50px;
  border: 1px solid #9bb6cd;
  font-size: 16px;
}
.container .main .login-box .cell .inputbox input[type=text] {
  border-bottom: 1px solid transparent;
}
.container .main .login-box .cell .inputbox .msg-veri {
  height: 50px;
}
.container .main .login-box .cell .inputbox .msg-veri img {
  cursor: pointer;
  position: relative;
  left: 218px;
  top: -40px;
}
.container .main .login-box .cell .inputbox .border {
  border-bottom: 1px solid #9bb6cd !important;
}
.container .main .login-box .cell .link {
  height: 58px;
  line-height: 58px;
}
.container .main .login-box .cell .link span,
.container .main .login-box .cell .link a {
  font-size: 14px;
  color: #1b68ab;
}
.container .main .login-box .cell .link span {
  cursor: pointer;
}
.container .main .login-box .cell .link a {
  margin-left: 181px;
  text-decoration: none;
}
.container .main .login-box .cell button {
  width: 300px;
  height: 50px;
  color: #fff;
  font-size: 16px;
  border: 1px solid transparent;
  background: #1b68ab;
}
.container .foot {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 72px;
  background-color: #ebf6ff;
  font-size: 12px;
  color: #33689a;
}
.container .foot .cell {
  width: 640px;
  height: 100%;
  margin: 0 auto;
}
.container .foot .cell .load-app {
  width: 230px;
  height: 100%;
  float: left;
}
.container .foot .cell .load-app .img {
  width: 64px;
  height: 62px;
  background: url(img/app.png) no-repeat;
  float: left;
  z-index: 99;
  opacity: 1;
  margin-top: 5px;
}
.container .foot .cell .load-app .txt {
  width: 140px;
  height: 100%;
  margin-left: 20px;
  float: left;
}
.container .foot .cell .load-app .txt .txt1,
.container .foot .cell .load-app .txt .txt2 {
  height: 36px;
  line-height: 36px;
}
.container .foot .cell .about-our {
  width: 380px;
  height: 100%;
  float: right;
}
.container .foot .cell .about-our .link-a,
.container .foot .cell .about-our .visern {
  height: 36px;
  line-height: 36px;
  color: #33689a;
}
