
body{
    overflow: hidden;
}

.box{
    padding: 50px;
    overflow: auto;
    width: 900px;
    margin: auto;
    transition: all 0.5s;
}
/* 控制按钮 */

.box .control{
    position: absolute;
    right: 10px;
    top: 15px;
}
.box .control .control-item{
    float: left;
    margin-right: 30px;
    cursor: pointer;
    transition: all 0.5s;
}

.box .control .control-item .control-icon{
    display: inline-block;
    height: 20px;
    width: 20px;
    background-size: 20px 20px;
    vertical-align: top;
}
.box .control .control-item:hover{
    transform: scale(1.1);
}
.box .control .control-item:active{
    transform: scale(1);
}

.box .control .control-item .control-icon.custom{
    background-image: url("../images/set.png");
}
.box .control .control-item .control-icon.add{
    background-image: url("../images/add.png");
}
.box .control .control-item .control-icon.cancel{
    background-image: url("../images/close.png");
}
.box .control .control-item .control-icon.save{
    background-image: url("../images/save.png");
}


/* 可拖拽模块 */
#grid-stack1 .grid-stack-item .drag-handle-box{
    height: 30px;
    width: 30px;
    background: #fff;
    border: 1px solid #e5e5e5;
    border-radius: 50%;
    cursor: move;
    position: absolute;
    margin-left: -15px;
    left: 50%;
    top: -15px;
    z-index: 100;
    display: none;
}
#grid-stack1 .grid-stack-item .drag-handle-box .drag-handle-icon{
    display: block;
    height: 20px;
    width: 20px;
    background-image: url("../images/move.png");
    background-size: 20px 20px;
    z-index: 101;
    margin: 5px auto;
}

#grid-stack1 .grid-stack-item .edit-handle-box{
    height: 30px;
    width: 30px;
    background: #fff;
    border: 1px solid #e5e5e5;
    border-radius: 50%;
    cursor: pointer;
    position: absolute;
    margin-left: -15px;
    right: 0;
    top: -15px;
    z-index: 100;
    /* display: none; */
}
#grid-stack1 .grid-stack-item .edit-handle-box .edit-handle-icon{
    display: block;
    height: 20px;
    width: 20px;
    background-image: url("../images/edit.png");
    background-size: 20px 20px;
    z-index: 101;
    margin: 5px auto;
}
#grid-stack1 .grid-stack-item .edit-handle-box .edit-panel{
    border: 1px solid #e5e5e5;
    border-radius: 2px;
    width: 150px;
    background: #fff;
    z-index: 100;
    /* margin-top: 10px; */
}

#grid-stack1 .grid-stack-item .edit-handle-box .edit-panel .edit-item{
    list-style-type: none;
    height: 44px;
    line-height: 44px;
    text-align: center;
}

#grid-stack1 .grid-stack-item .edit-handle-box .edit-panel .edit-item:hover{
    background: #e5e5e5;
}

#grid-stack1 .grid-stack-item .edit-handle-box .edit-panel .edit-item:active{
    background: #778899;
}

#grid-stack1 .grid-stack-item-content{
    color: #2c3e50;
    text-align: center;
    background: #fff;
    z-index: 100;
    border: 1px solid #e5e5e5;
    border-radius: 5px;
    overflow-y: hidden !important;
}
#grid-stack1 .objectBox{
    width: 100%;
    height: 98%;
}


/* 第二个拖拽框 */
.box2{
    position: absolute;
    right: -300px;
    top: 61px;
    height: 500px;
    width: 300px;
    transition: all 0.5s;
}
#grid-stack2{
    background: pink;        
} 
#grid-stack2 .grid-stack-item{
    background: black;
}