
.button{
    display: inline-block;
    color: #fff;
    background: rgb(0, 121, 192);
    padding: 10px;
    border-radius: 5px;
    cursor: pointer;
}
.button:hover{
}
.button:active{
}

select{
    width: 85px;
    height: 35px;
    font-size: 16px;
}
.signDateInput{
    height: 30px;
    font-size: 16px;
    padding-left: 10px;
}

.inqueryBox .topBar{
    height: 50px;
    padding: 20px;
}
.inqueryBox .topBar .topItem{
    display: inline-block;
}
.inqueryBox .tableBox{
    width: 100%;
    overflow: auto;
}
td.quotation{
    color: rgb(33, 138, 200);
    cursor: pointer;
}
    
.paginationBox{
    position: absolute;
    right: 100px;
    bottom: 50px;
}


/* dialog内容样式 */

#quotationCon{
}
#quotationCon .quotationTitle{
    height: 40px;
    border-bottom: 1px solid #e5e5e5;
    padding-left: 20px;
    line-height: 40px;
    font-weight: bold;
}
#quotationCon .quotationBox{
    position: relative;
    width: 400px;
    margin: 30px auto;
    line-height: 45px;
}
#quotationCon .quotationBox .leftT{
    margin-right: 20px;
}
#quotationCon .quotationBox .rightInput{
    width: 300px;
    height: 30px;
}
#quotationCon .quotationBox .btn{
    background: rgb(22, 155, 213);
    position: absolute;
    width: 140px;
    height: 40px;
    color: #fff;
    border-radius: 5px;
    line-height: 40px;
    text-align: center;
}
#quotationCon .quotationBox .btn.cancel{
    bottom: -60px;
    left: 30px;
}
#quotationCon .quotationBox .btn.quota{
    bottom: -60px;
    left: 220px;
}



